@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-1entex');
	src:url('fonts/icomoon.eot?#iefix-1entex') format('embedded-opentype'),
		url('fonts/icomoon.woff?-1entex') format('woff'),
		url('fonts/icomoon.ttf?-1entex') format('truetype'),
		url('fonts/icomoon.svg?-1entex#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-AllAssets:before {
	content: "\2a";
}
.icon-DoubleArrow:before {
	content: "\26";
}
.icon-Flip90:before {
	content: "\24";
}
.icon-Lead:before {
	content: "\40";
}
.icon-Prefitted:before {
	content: "\bf";
}
.icon-SingleArrow:before {
	content: "\2039";
}
.icon-Underline:before {
	content: "\203a";
}
.icon-PushPin:before {
	content: "\60";
}
.icon-MultiDocumentCheck:before {
	content: "\5f";
}
.icon-DocumentCheck:before {
	content: "\29";
}
.icon-Highlight:before {
	content: "\a9";
}
.icon-DecreaseFont:before {
	content: "\2014";
}
.icon-IncreaseFont:before {
	content: "\b1";
}
.icon-Print:before {
	content: "\2030";
}
.icon-FocusMode:before {
	content: "\cf";
}
.icon-InsertSecondaryContent:before {
	content: "\2c6";
}
.icon-InsertPrimaryContent:before {
	content: "\f8";
}
.icon-Document:before {
	content: "\55";
}
.icon-CompletedTemplate:before {
	content: "\ac";
}
.icon-InactiveTemplate:before {
	content: "\2c7";
}
.icon-ReplacePhoto:before {
	content: "\2020";
}
.icon-RenamePhoto:before {
	content: "\b4";
}
.icon-DeletePhoto:before {
	content: "\4c";
}
.icon-DownloadPhoto:before {
	content: "\d3";
}
.icon-AddPhoto:before {
	content: "\2d9";
}
.icon-ZoomOut:before {
	content: "\7a";
}
.icon-ZoomIn:before {
	content: "\5a";
}
.icon-PagePrevious:before {
	content: "\220f";
}
.icon-PageNext:before {
	content: "\2dc";
}
.icon-PageUp:before {
	content: "\a8";
}
.icon-PageBottom:before {
	content: "\d8";
}
.icon-File:before {
	content: "\192";
}
.icon-AddObjection:before {
	content: "\6f";
}
.icon-Map:before {
	content: "\c2";
}
.icon-MarkEquivalent:before {
	content: "\2260";
}
.icon-StandardPhrase:before {
	content: "\cd";
}
.icon-SplitClaim:before {
	content: "\df";
}
.icon-MergeClaim:before {
	content: "\b5";
}
.icon-H0:before {
	content: "\48";
}
.icon-View:before {
	content: "\221a";
}
.icon-UpArrow:before {
	content: "\75";
}
.icon-RightArrow:before {
	content: "\ae";
}
.icon-LeftArrow:before {
	content: "\6c";
}
.icon-DuplicateTemplate:before {
	content: "\ce";
}
.icon-AddInput:before {
	content: "\49";
}
.icon-RemoveTemplate:before {
	content: "\52";
}
.icon-AddTemplate:before {
	content: "\41";
}
.icon-AddAnnotation:before {
	content: "\c5";
}
.icon-CreateLink:before {
	content: "\c7";
}
.icon-Aa:before {
	content: "\e5";
}
.icon-Minus:before {
	content: "\2d";
}
.icon-Dictionary:before {
	content: "\2202";
}
.icon-Claims:before {
	content: "\e7";
}
.icon-PhotoStacked:before {
	content: "\3c0";
}
.icon-Ellipses:before {
	content: "\45";
}
.icon-Bold:before {
	content: "\222b";
}
.icon-InsertUnorderedList:before {
	content: "\131";
}
.icon-Indent:before {
	content: "\3e";
}
.icon-Italic:before {
	content: "\69";
}
.icon-InsertOrderedList:before {
	content: "\2013";
}
.icon-Outdent:before {
	content: "\3c";
}
.icon-H1:before {
	content: "\31";
}
.icon-H2:before {
	content: "\32";
}
.icon-H3:before {
	content: "\33";
}
.icon-H4:before {
	content: "\34";
}
.icon-H5:before {
	content: "\35";
}
.icon-H6:before {
	content: "\36";
}
.icon-TOC:before {
	content: "\43";
}
.icon-Mapping:before {
	content: "\4d";
}
.icon-SearchFindInPlace:before {
	content: "\53";
}
.icon-CircleFilled:before {
	content: "\4f";
}
.icon-CloseX:before {
	content: "\78";
}
.icon-Calendar:before {
	content: "\63";
}
.icon-ChatBubble:before {
	content: "\62";
}
.icon-LightningBolt:before {
	content: "\42";
}
.icon-Cite:before {
	content: "\22";
}
.icon-Check:before {
	content: "\76";
}
.icon-DropdownArrow:before {
	content: "\44";
}
.icon-Plus:before {
	content: "\2b";
}
.icon-Analyze:before {
	content: "\61";
}
.icon-DocumentDotted:before {
	content: "\64";
}
.icon-DocumentsFolder:before {
	content: "\46";
}
.icon-DocumentsStacked:before {
	content: "\3d";
}
.icon-FemaleMale:before {
	content: "\65";
}
.icon-Folder:before {
	content: "\66";
}
.icon-Gear:before {
	content: "\67";
}
.icon-Home:before {
	content: "\68";
}
.icon-Communication:before {
	content: "\6d";
}
.icon-Research:before {
	content: "\6e";
}
.icon-NotesPencil:before {
	content: "\4e";
}
.icon-Pencil:before {
	content: "\70";
}
.icon-Photo:before {
	content: "\50";
}
.icon-Refresh:before {
	content: "\72";
}
.icon-Search:before {
	content: "\73";
}
.icon-SuccessCircle:before {
	content: "\56";
}
.icon-Tag:before {
	content: "\74";
}
.icon-Trash:before {
	content: "\54";
}
.icon-WarningTriangle:before {
	content: "\77";
}
