@font-face {
	font-family: 'edyt-icons';
	src:url('fonts/edyt-icons.eot?-ylspdt');
	src:url('fonts/edyt-icons.eot?#iefix-ylspdt') format('embedded-opentype'),
		url('fonts/edyt-icons.woff?-ylspdt') format('woff'),
		url('fonts/edyt-icons.ttf?-ylspdt') format('truetype'),
		url('fonts/edyt-icons.svg?-ylspdt#edyt-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tpIcon"], [class*=" tpIcon"] {
	font-family: 'edyt-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tpIconHighlight:before {
	content: "\a9";
}
.tpIconDecreaseFont:before {
	content: "\2014";
}
.tpIconIncreaseFont:before {
	content: "\b1";
}
.tpIconPrint:before {
	content: "\2030";
}
.tpIconFocusMode:before {
	content: "\cf";
}
.tpIconInsertSecondaryContent:before {
	content: "\2c6";
}
.tpIconInsertPrimaryContent:before {
	content: "\f8";
}
.tpIconDocument:before {
	content: "\55";
}
.tpIconCompletedTemplate:before {
	content: "\ac";
}
.tpIconInactiveTemplate:before {
	content: "\2c7";
}
.tpIconReplacePhoto:before {
	content: "\2020";
}
.tpIconRenamePhoto:before {
	content: "\b4";
}
.tpIconDeletePhoto:before {
	content: "\4c";
}
.tpIconDownloadPhoto:before {
	content: "\d3";
}
.tpIconAddPhoto:before {
	content: "\2d9";
}
.tpIconZoomOut:before {
	content: "\7a";
}
.tpIconZoomIn:before {
	content: "\5a";
}
.tpIconPagePrevious:before {
	content: "\220f";
}
.tpIconPageNext:before {
	content: "\2dc";
}
.tpIconPageUp:before {
	content: "\a8";
}
.tpIconPageBottom:before {
	content: "\d8";
}
.tpIconFile:before {
	content: "\192";
}
.tpIconAddObjection:before {
	content: "\6f";
}
.tpIconMap:before {
	content: "\c2";
}
.tpIconMarkEquivalent:before {
	content: "\2260";
}
.tpIconStandardPhrase:before {
	content: "\cd";
}
.tpIconSplitClaim:before {
	content: "\df";
}
.tpIconMergeClaim:before {
	content: "\b5";
}
.tpIconH0:before {
	content: "\48";
}
.tpIconView:before {
	content: "\221a";
}
.tpIconUpArrow:before {
	content: "\75";
}
.tpIconRightArrow:before {
	content: "\ae";
}
.tpIconLeftArrow:before {
	content: "\6c";
}
.tpIconDuplicateTemplate:before {
	content: "\ce";
}
.tpIconAddInput:before {
	content: "\49";
}
.tpIconRemoveTemplate:before {
	content: "\52";
}
.tpIconAddTemplate:before {
	content: "\41";
}
.tpIconAddAnnotation:before {
	content: "\c5";
}
.tpIconCreateLink:before {
	content: "\c7";
}
.tpIconAa:before {
	content: "\e5";
}
.tpIconMinus:before {
	content: "\2d";
}
.tpIconDictionary:before {
	content: "\2202";
}
.tpIconClaims:before {
	content: "\e7";
}
.tpIconPhotoStacked:before {
	content: "\3c0";
}
.tpIconEllipses:before {
	content: "\45";
}
.tpIconBold:before {
	content: "\222b";
}
.tpIconInsertUnorderedList:before {
	content: "\131";
}
.tpIconIndent:before {
	content: "\3e";
}
.tpIconItalic:before {
	content: "\69";
}
.tpIconInsertOrderedList:before {
	content: "\2013";
}
.tpIconOutdent:before {
	content: "\3c";
}
.tpIconH1:before {
	content: "\31";
}
.tpIconH2:before {
	content: "\32";
}
.tpIconH3:before {
	content: "\33";
}
.tpIconH4:before {
	content: "\34";
}
.tpIconH5:before {
	content: "\35";
}
.tpIconH6:before {
	content: "\36";
}
.tpIconTOC:before {
	content: "\43";
}
.tpIconMapping:before {
	content: "\4d";
}
.tpIconSearchFindInPlace:before {
	content: "\53";
}
.tpIconCircleFilled:before {
	content: "\4f";
}
.tpIconCloseX:before {
	content: "\78";
}
.tpIconCalendar:before {
	content: "\63";
}
.tpIconChatBubble:before {
	content: "\62";
}
.tpIconLightningBolt:before {
	content: "\42";
}
.tpIconCite:before {
	content: "\22";
}
.tpIconCheck:before {
	content: "\76";
}
.tpIconDropdownArrow:before {
	content: "\44";
}
.tpIconPlus:before {
	content: "\2b";
}
.tpIconAnalyze:before {
	content: "\61";
}
.tpIconDocumentDotted:before {
	content: "\64";
}
.tpIconDocumentsFolder:before {
	content: "\46";
}
.tpIconDocumentsStacked:before {
	content: "\3d";
}
.tpIconFemaleMale:before {
	content: "\65";
}
.tpIconFolder:before {
	content: "\66";
}
.tpIconGear:before {
	content: "\67";
}
.tpIconHome:before {
	content: "\68";
}
.tpIconCommunication:before {
	content: "\6d";
}
.tpIconResearch:before {
	content: "\6e";
}
.tpIconNotesPencil:before {
	content: "\4e";
}
.tpIconPencil:before {
	content: "\70";
}
.tpIconPhoto:before {
	content: "\50";
}
.tpIconRefresh:before {
	content: "\72";
}
.tpIconSearch:before {
	content: "\73";
}
.tpIconSuccessCircle:before {
	content: "\56";
}
.tpIconTag:before {
	content: "\74";
}
.tpIconTrash:before {
	content: "\54";
}
.tpIconWarningTriangle:before {
	content: "\77";
}
