@import '../output-css/reset.css';

$primary-font-stack: 'Source Sans Pro', sans-serif;

// grey shades
$white-shade: #fff;
$background-shade: #e9e9e9;
$column-shade: #e8e8e8;
$column-line-shade: #e0e0e0;
$lighter-column-shade: #f4f4f4;
$darker-column-shade: #c2c2c2;

// lighter grey shades

// darker grey shades
$dark-shade: #737373;
$dark-highlight-shade: #585757;
$darkest-shade: #464646;

// font grey shades
$body-shade: #3a3a3a;
$h4-shade: #5d5d5d;
$h3-shade: #414344;
$h2-shade: #5e5e5e;
$h1-shade: #4f5152;

// icon grey shades
$white-icon-shade: #ffffff;
$icon-shade: #7b7b7b;
$disabled-icon-shade: #b0b0b0;
$reverse-icon-shade: #fbfbfb;
$disabled-reverse-icon-shade: #a4a4a4;

// non-grey colors
$primary-accent: #0E9BDD;
$primary-accent-hover: #2292c7;
$primary-accent-pastel: #daf0fa;

$success: #97d659;
$success-hover: #82b94b;
$success-pastel: #d8f7b9;

$error: #de574d;
$error-hover: #bb4d45;
$error-pastel: #e4bebb;

$warning: #C75302;
$warning-hover: #953d00;
$warning-pastel: #fae3d3;

$input-focus-color: #fffcf4;
$tooltip: #fff7c0;

// misc ui variables
$rad-borders: 5px; // global border radius value
$big-rad-borders: 20px;

// type-patterns

html, body, .panel-container, .single-panel {
	height: 100%; // makes panels independently scrollable
}

body {
  font: 100% $primary-font-stack;
  color: $body-shade;
  background: $background-shade;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
	color: $primary-accent;
	transition: box-shadow 0.25s ease 0s;
}

*[tabindex="1"] {
	transition: box-shadow 0.25s ease 0s;
}

// shows focus on keyboard tab
:focus {
   //outline: thin dotted #165f81;
   outline: none;
   box-shadow: 0 0 4px rgba(64, 87, 125, 0.9);
}

// hides focus on mouse click
a:active {
	outline: none;
}




section {
	background: $white-shade;
	padding: 25px;
	margin-left: 65px;
}

	.placeholder {
		margin: 0 auto;
		width: 85%;
	}
	
	.single-panel {
		width: 45%;
		padding: 60px 0 0;
		float: left;
		position: relative;
		margin-left: 5px;
		
		.toolbar, .actions-toolbar {
			width: 45%;
			
		}
	}
	
	.first-panel {
		margin-left: 65px;
	}
	
	.second-panel {
	}
	
	.panel-content {
		position: relative;
		overflow-y: scroll;
		height: 100%;
		width: 100%;
	}
	
	// styles for three panels
	
	.triple-panel {
		.single-panel, .toolbar, .actions-toolbar {
			width: 30%;
		}
		
		
		// first search panel 
		.search-parameters, .search-parameters .toolbar { 
			width: 20%;
		}
	}
	

	a.button {
		border-radius: $rad-borders;
		font-size: 18px;
		background: $white-shade;
		border: 1px solid $darker-column-shade;
		padding: 8px 20px;
		text-decoration: none;
		color: $icon-shade;
		font-weight: normal;
	
		.dijitIcon {
			margin-right: 4px;
			color: $icon-shade;
		}
	}
	
	a.button:hover, a.button:active {
		background: $column-shade;
		color: $body-shade;
	}
	
	a.button:active {
		box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
	}
	
	a.disabled {
		color: $disabled-icon-shade;
		cursor: not-allowed;
	}
	
	// primary button styles
	
	a.button.primary {
		background: $primary-accent;
		color: $white-shade;
		border: 1px solid $primary-accent;
		
		.dijitIcon {
			color: $white-shade;
		}
	}
	
	a.button.primary:hover, a.button.primary:active {
		background: $primary-accent-hover;
		color: $white-shade;
	}
	
	a.primary.disabled, a.primary.disabled:hover, a.primary.disabled:active {
		background: $white-shade;
		border: 1px solid $primary-accent;
	}
	
	a.primary.disabled, a.primary.disabled, a.primary.disabled:hover,
	a.primary.disabled span, a.primary.disabled .dijitIcon {
		color: $primary-accent;
	}
	
	// error button styles
	
	a.button.error {
		background: $error;
		color: $white-shade;
		border: 1px solid $error;
		
		.dijitIcon {
			color: $white-shade;
		}
	}
	
	a.button.error:hover, a.button.error:active {
		background: $error-hover;
		color: $white-shade;
	}
	
	a.error.disabled, a.error.disabled:hover, a.error.disabled:active {
		background: $white-shade;
		border: 1px solid $error;
	}
	
	a.error.disabled, a.error.disabled, a.error.disabled:hover,
	a.error.disabled span, a.error.disabled .dijitIcon {
		color: $error;
	}

h1 {
	color: $h1-shade;
	font-size: 28px;
	font-weight: normal;
	line-height: 36px;
	margin: 0 0 15px;
}

h2 {
	color: $h2-shade;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	margin: 0 0 30px;
}

h3 {
	color: $h3-shade;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
	margin: 0 0 15px;
}

h4, h5, h6 {
	color: $h4-shade;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	margin: 0;
}

p, li, {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 30px;
}

ul, ol {
	padding: 0;
}

// forms 

form {
	position: relative;
	
	p {
		overflow: auto;
	}
	
	label {
		float: left;
		margin-right: 10px;
		color: $h2-shade;
		font-weight: normal;
		font-size: 16px;
		margin-top: 3px;
		width: 120px;
	}
	
	input[type="text"], textarea, select, .large-search-field {
		border-radius: $rad-borders;
		font: 100% $primary-font-stack;
		color: $body-shade;
		font-size: 15px;
		padding: 9px;
		border: 1px solid $darker-column-shade;
		width: 53%;
	}
	
	select {
		padding: 0;
	}
	
	input:focus, textarea:focus, .large-search-field {
		background: #fffcf4;
	}
	
	.dijitIcon {
		font-size: 18px;
		margin-left: 8px;
		color: $success;
	}
	
	.error-label, input[type="checkbox"] + label, input[type="radio"] + label {
		float: none;
		margin: 0 0 0 130px;
		display: block;
		width: auto;
		font-weight: bold;
		font-size: 15px;
	}
	
	.error {
		input, .dijitIcon, .error-label {
			color: $error;
		}
		
		input {
			border: 2px solid $error;
		}
	}
	
	input[type="checkbox"], input[type="radio"] {
		margin-left: 130px;
		display: inline;
	}
	
	input[type="checkbox"] + label, input[type="radio"] + label {
		width: auto;
		display: inline-block;
		margin-left: 2px;
		font-weight: normal;
		font-size: 16px;
	}
	
	input[type="checkbox"] + label + .dijitIcon, input[type="radio"] + label + .dijitIcon {
		position: absolute;
		left: 486px;
	}
	
	.button {
		margin-left: 130px;
		
		.dijitIcon {
			margin-left: 0;
		}
	}
}

// warning, callout boxes

aside.dark-box, aside.callout-box {
	background-color: $lighter-column-shade;
	padding: 16px 20px 18px;
	margin-bottom: 20px;
	
	h1, h2, h3, h4, p, ul, ol { margin-top: 0 }
	
	.dijitIcon {
		float: left;
		font-size: 48px;
		color: $icon-shade;
		margin: 0 30px 30px 0;
	}
	
	h4 {
		color: $dark-shade;
		font-weight: normal;
		font-size: 16px;
	}
	
	p {
		margin-bottom: 15px;
	}
	
	.button {
		color: $white-shade;
		background: $success;
		float: right;
		margin: 0 0 30px 30px;
		border: none;
	}

}

aside.callout-box {
	background-color: $white-shade;
	border: 1px solid $darker-column-shade;
}


aside.callout-box.success {
	background-color: $success-pastel;
	border: none;
	color: $white-shade;

	.dijitIcon {
		color: $success;
	}

	p {
		color: $body-shade;
	}
	
	.button {
		color: $body-shade;
	}
}

aside.callout-box.warning {
	background-color: $warning-pastel;
	border: none;
	color: $white-shade;

	.dijitIcon {
		color: $warning;
	}

	p {
		color: $body-shade;
	}
	
	.button {
		background: $warning;
	}
}

// colored label classes


	.teal {
		background-color: #56d4c7;
	}

	.blue {
		background-color: #77cbeb;
	}

	.green {
		background-color: #97d659;
	}
	
	.yellow {
		background-color: #ead232;
	}
	
	.dark-blue {
		background-color: #2481b6;
	}
	
	.purple {
		background-color: #a0c6ff;
	}
	
	.orange {
		background-color: #f18d5d;
	}
	
	.dark-purple {
		background-color: #a069df;
	}


// nav-patterns

.primary-nav {
	background: $column-shade;
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
	z-index: 50;
	left: 0;
	height: 100%;
	width: 60px;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid $darker-column-shade;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			
			a {
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				font-size: 24px;
				display: block;
				text-align: center;
				padding: 16px 10px;
			}
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $primary-accent;
			border-radius: $rad-borders;
			color: $white-shade;
		    display: none;
		    font-size: 15px;
			z-index: 500;
		    left: 72px;
		    margin-top: -51px;
		    padding: 5px 9px;
		    position: absolute;
		    width: auto;
		}
		
		li:hover {
			
			a {
				background: $primary-accent;
				color: $white-shade;
			}
		}
		
		li:active + a , li.active:active + a {
			background: $primary-accent-hover;
		}
		
		li.active {
			a {
				background: $white-shade;
				color: $primary-accent;
			}
		}
		
		li.disabled, li.disabled:hover, li.disabled:active {
			
			a {
				color: $disabled-icon-shade;
				cursor: not-allowed;
				background: $column-shade;
			}
		}
	}
}


// primary-nav on-hover flyout nav
	
	.primary-nav ul li div.flyout-nav {
	    background: $primary-accent;
	    display: none;
	    height: 100%;
	    left: 59px;
	    position: absolute;
	    top: 0;
	    width: 300px;
	    z-index: 450;
		padding: 15px;
		
		h3 {
			color: $white-shade;
			border-bottom: 1px solid $white-shade;
			padding-bottom: 12px;
		}
		
		li, li:active, li.active, li.active:active, li.active:hover {
			margin-bottom: 0px;
			position: relative;
			
			a {
				text-align: left;
				padding: 5px 15px;
				margin: 0 -15px;
				font-size: 16px;
				background: $primary-accent;
				color: $white-shade;
			}
			
			em {
			    display: block;
			    left: auto;
				color: $white-shade;
				font-style: normal;
				font-size: 14px;
			    margin: 0;
			    padding: 0;
			    position: absolute;
			    right: 0;
			    top: 5px;
			}
		}
		
		li:hover a {
			background: $primary-accent-hover;
			
		}
		
		
		li.disabled, li.disabled:hover, li.disabled:active {
			
			a {
				color: $disabled-icon-shade;
				cursor: not-allowed;
				background: $column-shade;
			}
		}
	}
	

	.primary-nav ul li:hover .flyout-nav {
	    display: block;
	}
	
	


.helper-nav {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 11px;
	border-right: 0;
	border-top-left-radius: 5px;
	background: $background-shade;
	border-bottom-left-radius: 5px;
	z-index: 25;
	
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0 0 15px;
			position: relative;
			
			> a {
				text-decoration: none;
				background: $white-shade;
				font-weight: normal;
				color: $icon-shade;
				font-size: 20px;
				display: block;
				text-align: center;
				padding: 14px 10px;
				width: 48px;
				border: 1px solid $column-line-shade;
				border-right: 0;
			}
			
			em {
				background: none repeat scroll 0 0 #a069df;
			    border-radius: 20px;
			    display: inline-block;
				color: $white-shade;
			    font-style: normal;
				font-size: 16px;
				border: 3px solid #864cc8;
			    margin-left: 6px;
			    padding: 0 10px 1px;
			    position: absolute;
			    right: 36px;
			    top: -8px;
			}
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $tooltip;
			border-radius: $rad-borders;
			color: $body-shade;
		    display: none;
		    font-size: 15px;
			line-height: 19px;
			z-index: 150;
		    right: 75px;
		    margin-top: -43px;
		    padding: 5px 9px;
		    position: absolute;
		    width: auto;
		}
		
		a:hover {
			background: $lighter-column-shade;
		}
		
		a:hover + label {
			display: inline-block;
		}
		
		li.active {
			
			> a {
				background: $primary-accent;
				color: $white-shade;
				border: none;
			}
			
			a:hover + label {
				display: none;
			}
		}
		
		li.disabled, li.disabled:hover, li.disabled:active {
			
			> a {
				color: $disabled-icon-shade;
				cursor: not-allowed;
				background: $white-shade;
			}
		}
	}
}

// helper-nav menu styling


.helper-nav ul .flyout-helper {
	display: none;
	background: $white-shade;
	padding: 18px 70px 18px 18px;
	border: 3px solid $column-line-shade;
	width: 500px;
	height: 840px;
	position: absolute;
	right: -3px;
	top: -4px;
	z-index: -1;
	border-radius: $rad-borders;
	
	form {
		overflow: auto;
	
		.find-options {
			margin-bottom: 12px;
		}
		
		label {
			position: static;
			background: none;
			padding: 0;
		}
	
		input[type="checkbox"] {
			margin-left: 18px;
		}
		
		p:first-child input[type="checkbox"] {
			margin-left: 0;
		}
	
		p {
			margin: 0 0 2px 0;
		}
		
		p.search-term {
			margin-bottom: 15px;
		}
	}
	
	.toolbar {
		background: $primary-accent;
		padding: 14px 18px;
		width: auto;
		height: auto;
		position: static;
		margin: -18px -70px 15px -18px;
		
		h4.toolbar-main-button {
		    float: right;
		    margin-right: 52px;
			position: relative;
			bottom: 11px;
			display: block;
			
			a {
				color: $icon-shade;
				background: $white-shade;
				font-weight: normal;
				display: block;
			}
		}
	}
	
	h3 {
		color: $white-shade;
		margin: 0;
	}
	
	h4 {
		font-weight: normal;
		display: inline-block;
		margin-top: 5px;
	}
	
	h3 a, h4 a {
		display: inline;
		padding: 0;
		background: none;
		color: inherit;
		font-weight: bold;
		border: none;
	}
	
	ul.pagination-control {
		overflow: auto;
		float: right;
		background: $background-shade;
		border-radius: $rad-borders;
		border: 1px solid $column-line-shade;
		
		li {
			margin: 0;
			float: left;
			border: 0;
			padding: 0;
			position: relative;
			margin-left: 1px;
			
			a {
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				background: $lighter-column-shade;
				font-size: 20px;
				display: block;
				text-align: center;
				border: none !important;
				width: 37px;
				padding: 6px 4px 4px;
			}
			
			.dijitIcon {
				margin-left: 0;
				color: $icon-shade;
			}
			
			label {
				background: none repeat scroll 0 0 $tooltip;
				border-radius: $rad-borders;
				color: $body-shade;
			    display: none;
			    font-size: 15px;
			    left: -32%;
			    line-height: 19px;
			    margin: 0 auto;
			    padding: 5px 9px;
			    position: absolute;
			    text-align: center;
			    top: 44px;
			    z-index: 100;
			}
		}
		
		li:first-child {
			margin-left: 0;
				
			a {
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-left-radius: 5px;
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;

			}
		} 
	
		li:last-child a {
			border-radius: 0;
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			border-bottom-right-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			border-top-right-radius: 5px;
		}

		li:hover {
		
			label {
				display: block;
			}
			
			a {
				background: $white-shade;
			}
		}
		
		li:active, li.active, li.active:hover {
			
			a {
				background: $white-shade;
				color: $primary-accent;
			}
		}
	}
	
	.panel-content {
		height: 450px;
		padding: 10px 0;
		margin: 14px 0 10px;
		border-top: 1px solid $column-line-shade;
		border-bottom: 1px solid $column-line-shade;
		
		
		h4 {
			font-weight: bold;
		}
		
		p {
			margin: 0 0 10px;
		}
		
	}
	
	//	styles for search query helper
	
	.search-parameters + .panel-content {
		height: 580px;
	}
	
	.large-search-field {
		margin-bottom: 15px;
	}
	
	.concept-row.header {
		float: left;
		margin-bottom: 0;
	}
	
	.concept-row {
		clear: both;
		margin-bottom: 12px;
		
		span {
		    display: block;
			float: right;
			margin: 4px 0 12px 12px;
		    height: 20px;
		    width: 20px;
			cursor: pointer;
		}
		
		h4, input[type="checkbox"] {
			float: left;
			margin-left: 5px;
			margin-top: 9px;
			width: 20px;
		}
		
		h4 {
			margin-left: 10px;
			font-size: 22px;
		}
		
		h4:first-child, input[type="checkbox"]:first-child, span + input[type="checkbox"] {
			margin-left: 0;
		}
		
		div.description {
			margin-left: 60px;
			padding: 0;
			
			p {
				margin: 0;
			}
		}
	}
}



// swimlane/secondary content toggle nav 

.swimlane-nav {
	margin: 10px 0 0;
	padding: 0;
	background: $background-shade;
	float: left;
	z-index: 25;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0 0 5px;
			position: relative;
			
			a {
				border-top-right-radius: $rad-borders;
				border-bottom-right-radius: $rad-borders;
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				font-size: 20px;
				display: block;
				text-align: center;
				padding: 7px 5px 5px;
				width: 40px;
				border: 1px solid $background-shade;
			}
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $tooltip;
			border-radius: $rad-borders;
			color: $body-shade;
		    display: none;
		    font-size: 14px;
			line-height: 16px;
		    left: 50px;
			top: 8px;
		    padding: 4px 8px;
		    position: absolute;
			width: auto;
		    z-index: 100;
		}
		
		li:hover {
			
			label {
				display: inline-block;
			}
			
			a {
				background: $lighter-column-shade;
			}
		}
		
		li:active, li.active, li.active:hover {
			a {
				background: $white-shade;
				color: $primary-accent;
			}
		}
		
		li.disabled, li.disabled:hover, li.disabled:active {
			
			a {
				color: $disabled-icon-shade;
				cursor: not-allowed;
				border: none;
				background: $background-shade;
			}
		}
	}
}

// panel toolbars

.toolbar, .content-toolbar, .actions-toolbar {
	border-bottom: 1px solid $column-line-shade;
	background: $white-shade;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 60px;
	
	h1 {
		float: left;
		padding: 10px 10px 10px 18px;
		margin: 0;
		
		em {
			font-size: 18px;
		}
	}
	
	ul {
	    float: right;
	    list-style: none outside none;
	    margin: 10px 18px 0 0;
	    padding: 0;
	    right: 125px;
		border-radius: $rad-borders;
		background: $background-shade;
		border: 1px solid $column-line-shade;
		
		li {
			margin: 0;
			float: left;
			border: 0;
			padding: 0;
			position: relative;
			margin-left: 1px;
			
			a {
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				background: $lighter-column-shade;
				font-size: 20px;
				display: block;
				text-align: center;
				width: 37px;
				padding: 7px 4px 3px;
			}
			
			label {
				background: none repeat scroll 0 0 $tooltip;
				border-radius: $rad-borders;
				color: $body-shade;
			    display: none;
			    font-size: 15px;
			    left: -32%;
			    line-height: 19px;
			    margin: 0 auto;
			    padding: 5px 9px;
			    position: absolute;
			    text-align: center;
			    top: 44px;
			    z-index: 100;
			}
		}
		
		li:first-child {
			margin-left: 0;
				
			a {
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-left-radius: 5px;
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;

			}
		} 
	
		li:last-child a {
			-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			border-bottom-right-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
			border-top-right-radius: 5px;
		}

		li:hover {
		
			label {
				display: block;
			}
			
			a {
				background: $white-shade;
			}
		}
		
		li:active, li.active, li.active:hover {
			
			a {
				background: $white-shade;
				color: $primary-accent;
			}
		}
		
		
		
		li.disabled, li.disabled:hover, li.disabled:active {
			
			a {
				color: $disabled-icon-shade;
				cursor: not-allowed;
				border: none;
			}
		}
		
		li.text-button {
			a {
				font-size: 18px;
				padding: 5px 8px;
				width: auto;
				font-weight: bold;
			}
		}
	}
	
	h4.toolbar-main-button {
		float: right;
	    margin-top: 17px;
		margin-right: 18px;
		
		.button {
			padding: 8px 11px 6px;
			border: 1px solid $column-line-shade;
		}
		
		.primary.button {
			padding-left: 30px;
			padding-right: 30px;
			border: none;
		}
		
		.dijitIcon {
			margin-right: 0;
		}
	}
	
	h4.toolbar-main-button + ul, form + ul {
		margin-right: 10px;
	}
	
	form input[type="text"] {
		float: right;
		width: 175px;
		margin: 10px 25px 0 0;
	}
	
	ul.tabs {
		float: left;
		left: 18px;
		bottom: 0;
		position: absolute;
		right: auto;
		background: $white-shade;
		border-radius: none;
		border: none;
		
		li {
			margin-left: 5px;
			
			a {
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				border-top-left-radius: $rad-borders;
				border-top-right-radius: $rad-borders;
				border: 1px solid $column-line-shade;
				border-bottom: 0;
				width: auto;
				font-size: 18px;
				padding: 6px 10px;
			}
		}
		
		li.active {
			a {
			    height: 39px;
			    padding-bottom: 7px;
			    position: relative;
			    top: 1px;
			}
		}
		
		li:first-child {
			margin-left: 0;
		}
	}
}


// toolbar for in-page content editing: communications, etc

.content-toolbar  {
	position: static;
	
	ul {
		float: left;
		margin-left: 25px;
		
		li a {
			font-size: 24px;
		}
	}
}

// dialog style

.dialog {
	display: none;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 250;
	margin: 0;
	padding: 0;
	
	.inside-dialog {
		width: 80%;
		border: 3px solid $column-line-shade;
		max-height: 500px;
		overflow: auto;
		max-width: 1200px;
		margin: 5% auto 0;
		border-radius: 5px;
		padding: 35px;
		background: $white-shade;
	}
}


// analyze content

.highlights-content, .annotations-content, .annotations-content-full, .figures-content {
	padding: 10px 5px 0;
	float: left;
	height: 2200px;
	width: 100px;
	background: $lighter-column-shade;
	
	h5 {
		margin: 0 0 12px;
		text-align: center;
		font-size: 16px;
		
		a {
			color: $h4-shade;
		}
	}
}

.highlights-content {
	
	ul { margin: 0; padding: 0;}
	
	li {
		float: left;
		margin: 0 6px 0 0;
		border-radius: $rad-borders;
	}
	
	li:last-child { margin-right: 0 }
	
	a, .highlight {
		color: $white-shade;
		width: 25px;
		height: 20px;
		display: block;
		border-radius: $rad-borders;
		text-align: center;
		
		span {
			font-size: 15px;
			position: relative;
			bottom: 2px;
		}
	}
	
	.highlight {
		position: absolute;
		top: 200px;
		height: 300px;
	}
}

.annotations-content {
	border-left: 1px solid $column-line-shade;
	width: 50px;
	
	.annotation {
		color: $icon-shade;
	}
}

.main-content {
	margin: 18px 18px 0 18px;
	padding-top: 1px;
	
	.tpIconEllipses {
		font-size: 24px;
		color: $h4-shade;
		position: relative;
		top: 5px;
	}
}


// analyze 5 column panel


.full-panel {
	.main-content {
		float: left;
		margin-left: 20px;
		width: 43%;
	}
	
	.annotations-content-full {
		width: 180px;
		padding: 10px 15px;
		
		.annotation {
			margin-bottom: 15px;
			
			span {
				font-size: 16px;
				color: $icon-shade;
			}
			
			p {
				margin-top: 0;
			}
		}
	
	}
	
	.figures-content {
		border-left: 1px solid $column-line-shade;
		
		img {
			width: 100%;
		}
	}
}






// prior art changes

.prior-art {
	width: 85%;

	.toolbar {
		width: 85%;
	}
	
	.main-content {
		margin-left: 25px;
		width: 68%;
		float: left;
		padding-top: 25px;
		
		img {
			float: left;
			width: 225px;
			margin: 0 25px 25px 0;
			border: 1px solid $background-shade;
		}
		
		.pa-snippet {
			margin-bottom: 25px;
			overflow: auto;
			
			.tpIconSuccessCircle {
				color: $success;
			}
		}
		
	
		h4 {
			font-size: 16px;
			font-weight: normal;
		}
		
		p {
			margin-top: 5px;
		}
	}
	
	h2 {
		padding: 0;
		margin: 0 0 12px;
		
		.dijitIcon {
			color: $success;
		}
	}
	
	.highlights-content {
		float: left;
		width: 8%;
		
	}
	
	.annotations-content {
		float: left;
		width: 18%;
		
		.random-icon {
			padding: 0 10px 10px;
			
			p {
				font-size: 16px;
				line-height: 24px;
				margin-top: 0;
			}
		}
	}
}




// work manager styles


.work-manager {
	
	.intray-nav {
		background: $white-shade;
		margin: 0 0 0 65px;
		padding: 0;
		top: 0;
		position: fixed;
		left: 0;
		height: 100%;
		border-right: 1px solid $column-line-shade;
		width: 225px;
		border-top: 0;
		border-bottom: 0;
	
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		
			li {
				margin: 0;
			
				a {
					text-decoration: none;
					font-weight: normal;
					color: $body-shade;
					border-bottom: 1px solid $column-shade;
					font-size: 16px;
					display: block;
					text-align: left;
					padding: 8px 14px;
					position: relative;
				
					em {
						font-style: normal;
						display: inline-block;
						background: $success;
						padding: 0 8px;
						margin-left: 6px;
						border-radius: $big-rad-borders;
					}
				
					strong {
						font-weight: normal;
						position: absolute;
						text-align: right;
						right: 10px;
					
					}
					
					span {
					    display: block;
					    float: left;
					    height: 26px;
					    margin-right: 9px;
					    width: 9px;
					}
				}
			}
		
			li.empty-row, li.empty-row:hover, li.empty-row:active {
				a {
					background: $white-shade;
					cursor: default;
					height: 40px;
				}
			
			}
		
			li.nav-label {
				background: $darker-column-shade;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
				padding: 5px 0;
				color: $h4-shade;
			}
		
			label {
				background: none repeat scroll 0 0 $primary-accent;
				border-radius: $rad-borders;
				color: $white-shade;
			    display: none;
			    font-size: 15px;
				z-index: 100;
			    left: 72px;
			    margin-top: -51px;
			    padding: 5px 9px;
			    position: absolute;
			    width: auto;
			}
		
			li:hover {
			
				label {
					display: block;
				}
			
				a {
					background: $lighter-column-shade;
				}
			}
		
			li:active {
			
				a {
					background: $lighter-column-shade;
				}
			}
		
			li.active {
				a {
					font-weight: bold;
				
					em {
						font-weight: normal
					}
				}
			}
		}
	}
	
	.first-panel {
		margin-left: 290px;
	}
	
	.first-panel, .second-panel, .toolbar { width: 35% }
	
	
	.browse-items {
		background: $lighter-column-shade;
		padding: 25px;
		
		.workspace-item {
			border: 1px solid $column-line-shade;
			border-radius: $rad-borders;
			margin-bottom: 15px;
			padding: 15px 15px 15px 25px;
			background: $white-shade;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			
			.highlight {
				width: 10px;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				display: block;
			}
			
			img {
				float: right;
				width: 25%;
			}
			
			ul 	{
				overflow: auto;
				list-style: none;
				margin: 0;
				padding: 0;
				
				li {
				float: left;
				margin: 0 0 0 5px;
				height: 30px;
			
					a {
						border-radius: $big-rad-borders;
						padding: 3px 8px;
						color: $body-shade;
						font-size: 16px;
					}
				}
				
				li:first-child {
					margin-left: 0;
				}
				
				li.rating a {
					border-top-right-radius: 0px;
					border-bottom-right-radius: 0px;
					background: $column-line-shade;
				}
				
				li.limit {
					margin-left: 0;
					margin-right: 10px;
					
					a {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
						background: $success;
					}
				}
			}
		}
		
		.workspace-item:hover {
			border-color: $primary-accent;
		}
		
		.workspace-item:active, .workspace-item.active {
			background: $primary-accent-pastel;
		}
	}
	
	.workspace-preview {
		padding-top: 207px;
		
		.toolbar {
			height: 207px;
			
			h3 {
				padding: 10px 10px 10px 18px;
				clear: both;
			}
			
			h4.toolbar-main-button {
				margin: 0;
				position: absolute;
				right: 18px;
				bottom: 15px;
			}
		}
		
		.main-content {
			margin: 18px;
		}
		
		.panel-content {
		}
	}
}


// Communications + Annotation Styles

.actions-toolbar {
	bottom: 0;
	top: auto;
	border-top: 1px solid $column-line-shade;
	border-bottom: 0;
	padding: 12px 18px;
	
	form {
		p, label, input, button, .button {
			margin: 0;
		}
		
		label, input[type="text"] {
			float: none;
			margin-top: 0;
			margin-right: 6px;
		}
	}
	
	div.left, p, ul {
		float: left;
		margin-right: 8px;
	}
	
	div.left, li { margin-left: 0 }
	
	div.right { 
		float: right;
	}
	
	
	ul {
	margin: 0;
	border: 0;
	background: none;
		
		
		li {
			margin-left: 5px;
			
			a {
				width: auto;
				font-size: 18px;
				padding: 6px 12px;
			}
		}
	}
	
	.status {
		position: absolute;
		margin-left: 16%;
		padding: 12px;
		background: $warning;
		bottom: 45px;
		z-index: 150;
		
		h4 {
			font-weight: normal;
			color: $white-shade;
		}
	}
}

.communication {
	padding-bottom: 60px; // pushes content up to make room for bottom actions-toolbar
	
	.toolbar {
		
		ul.tabs {
			position: static;
			float: right;
			margin-top: 20px;
		}
	}
	
	.panel-content {
		background: $darker-column-shade;
		
		.content-toolbar {
			background: $white-shade;
		}
	
		.main-content {
			margin: 25px 15px;
			background: $white-shade;
			padding: 25px 18px;
			box-shadow: 0 3px 1px $dark-shade;
		}
		
		.nested {
			padding: 15px;
			background: $lighter-column-shade;
			
			.nested {
				background: $white-shade;
				
				.nested {
					border: 1px solid $column-line-shade;
				}
			}
		}
	}
}

.annotations {
	padding-bottom: 60px; // pushes content up to make room for bottom actions-toolbar
	
	.main-content {
		margin: 0;
		
		h2 {
			padding: 12px 20px;
			margin: 15px 0 0 0;
		}
	}
	
	.annotations-row {
		padding: 12px 20px;
		border-bottom: 1px solid $column-line-shade;
		overflow: auto;
		position: relative;
		cursor: pointer;
		
		.dijitIcon, h3, p, h4 {
			float: left;
			margin: 0;
			padding: 0;
		}
		
		.dijitIcon {
			position: relative;
			top: 6px;
			font-size: 12px;
			margin-right: 20px;
			color: $white-shade;
		}
		
		.tpIconSuccessCircle {
			font-size: 20px;
			top: 3px;
		}

		
		p {
			position: absolute;
			top: 12px;
			left: 190px;
		}
		
		h3 {
			font-size: 16px;
			font-weight: bold;
		}
		
		ul {
			float: right;
			margin: 0;
			list-style: none;
			padding: 0;
			
			li {
				margin: 0 0 0 12px;
				float: left;
				
				a {
					border: 0;
					color: $icon-shade;
					
					.dijitIcon {
						margin: 0;
						top: 0;
						font-size: 25px;
						color: $column-shade;
					}
					
					.tpIconCompletedTemplate {
						color: $success;
					}
				}
			}
			
			li:first-child { margin-left: 0 }
		}
	}
	
	.done {
		.dijitIcon {
			top: 4px;
			color: $darker-column-shade;
		}
	}
	
	.annotations-row.unread {
		.dijitIcon.tpIconCircleFilled {
			color: $primary-accent;
		}
		
		p {
			font-weight: bold;
		}
	}
	
	.annotations-row.header {
		border-top: 1px solid $column-line-shade;
	}
	
	.annotations-row.header, .annotations-row.done {
		background: $lighter-column-shade;
	}
	
	.annotations-row:hover {
		background: $primary-accent-pastel;
		
		.dijitIcon {
			color: $primary-accent-pastel;
		}
		
		.tpIconSuccessCircle {
			color: $darker-column-shade;
		}
		
		ul li a {
			.dijitIcon {
				color: $icon-shade;
			}

			.tpIconCompletedTemplate {
				color: $success-hover;
			}
		}
	}
}


// search results styles

.search-results {
	.search-result-snippet {
		margin-bottom: 25px;
		clear: both;
		border-bottom: 1px solid $column-line-shade;
		
		img {
			float: left;
			margin: 0 15px 15px 0;
			border: 1px solid $column-line-shade;
			width: 20%;
		}
		
		p {
			margin-left: 109px;
		}
	}
}

.search-parameters {
	.large-search-field {
		width: 100%;
		min-height: 90px;
		
		p {
			margin: 0;
			padding: 0;
			
			a {
				color: $body-shade;

			}
		}
	}
	
	.panel-content {
		height: auto;
		width: 100%;
		overflow: none;
		border-bottom: 5px solid $background-shade;
		
		.main-content {
			margin-bottom: 25px;
		}
	}
	
	.concepts {
		height: 100%;
		
		.toolbar {
			position: relative;
			width: 100%;
		}
		
		.panel-content {
			height: 80%;
			border-bottom: 0;
			
			.concept-row {
				clear: both;
				margin-bottom: 12px;
				
				span {
				    display: block;
					float: right;
					margin: 4px 0 12px 12px;
				    height: 20px;
				    width: 20px;
					cursor: pointer;
				}
				
				h4, input[type="checkbox"] {
					float: left;
					margin-left: 5px;
					margin-top: 9px;
					width: 20px;
				}
				
				h4 {
					margin-left: 10px;
					font-size: 22px;
				}
				
				h4:first-child, input[type="checkbox"]:first-child {
					margin-left: 0;
				}
				
				div.description {
					margin-left: 60px;
					padding: 0;
					
					p {
						margin: 0;
					}
				}
			}
			
			.concept-row.header {
				overflow: auto;
				margin-bottom: 8px;
				padding-bottom: 10px;
				border-bottom: 1px solid $column-shade;
				
			}
		}
	}
}

.search-parameters.collapsed {
	width: 10%;
	
	div {
		display: none;
	}
	
	.toolbar:first-child {
		display: block;
		width: 10%;
		
		ul {
			display: none;
		}
		
		.tpIconLeftArrow:before {
			display: inline-block;
			transform: rotate(180deg);
		}
	}
}



// context menu styles 

/*!
 * jQuery contextMenu - Plugin for simple contextMenu handling
 *
 * Version: git-master
 *
 * Authors: Rodney Rehm, Addy Osmani (patches for FF)
 * Web: http://medialize.github.com/jQuery-contextMenu/
 *
 * Licensed under
 *   MIT License http://www.opensource.org/licenses/mit-license
 *   GPL v3 http://opensource.org/licenses/GPL-3.0
 *
 */

.context-menu-list {
    margin:0; 
    padding:0;
    
    min-width: 180px;
    max-width: 250px;
    display: inline-block;
    position: absolute;
    list-style-type: none;
    
    border: 3px solid $darker-column-shade;
	border-radius: $rad-borders;
    background: $white-shade;
}

.context-menu-item {
    padding: 2px 5px 3px;
	margin: 0 5px;
	border-bottom: 1px solid $column-line-shade;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

.context-menu-item:last-child {
	border-bottom: 0;
}


.context-menu-separator {
    padding-bottom:0;
    border-bottom: 1px solid $column-line-shade;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.context-menu-item.hover {
    cursor: pointer;
    background-color: $lighter-column-shade;
    padding: 2px 10px 3px;
	margin: 0;
}

.context-menu-item.disabled {
    color: $disabled-icon-shade;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
    cursor: default;
    background-color: #EEE;
}

.context-menu-submenu:after {
    content: "\ae";
	font-family: 'edyt-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
    color: $body-shade;
    position: absolute;
    top: 9px;
	font-size: 12px;
    right: 3px;
    z-index: 1;
}
	
	.context-menu-item.hover:after {
		right: 8px;
	}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement 
    .context-menu-item.icon:before {}
 */
	
.context-menu-item.oom-button span {
	border: none;
	border-radius: $rad-borders;
	background: $primary-accent;
	color: $white-shade;
	display: inline-block;
	padding: 3px 15px;
	margin: 5px 0;
	text-decoration: none;
}

.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-edit { background-image: url(images/page_white_edit.png); }
.context-menu-item.icon-cut { background-image: url(images/cut.png); }
.context-menu-item.icon-copy { background-image: url(images/page_white_copy.png); }
.context-menu-item.icon-paste { background-image: url(images/page_white_paste.png); }
.context-menu-item.icon-delete { background-image: url(images/page_white_delete.png); }
.context-menu-item.icon-add { background-image: url(images/page_white_add.png); }
.context-menu-item.icon-quit { background-image: url(images/door.png); }

/* vertically align inside labels */
.context-menu-input > label > * { vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
    margin-left: 20px;
	margin-top: 6px;
}
	
	.context-menu-input:first-child > label > input[type="checkbox"] { margin-left: 0 }
.context-menu-input > label > span {
    margin-left: 5px;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
    display: block;
    width: 100%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.context-menu-input > label > textarea {
    height: 100px;
}
.context-menu-item > .context-menu-list {
    display: none;
    /* re-positioned by js */
    right: -5px;
    top: 5px;
}

.context-menu-item.hover > .context-menu-list {
    display: block;
}

.context-menu-accesskey {
    text-decoration: underline;
}


// styles for highlight squares 

.oom-highlights, .oom-highlights.context-menu-item.hover {
	background-color: $white-shade;
    overflow: auto;
    padding-right: 4px;
	padding-top: 3px;
	padding-left: 0;
	margin: 0 5px;
}

.oom-highlights a {
    display: block;
	float: left;
	margin: 5px;
    height: 20px;
    width: 25px;
	border-radius: $rad-borders;
	cursor: pointer;
	text-align: center;
	
	span {
	    bottom: 3px;
	    font-size: 15px;
	    position: relative;
		color: $white-shade;
	}
}


