@import '../output-css/reset.css';

$primary-font-stack: 'Source Sans Pro', sans-serif;

// grey shades
$white-shade: #fff;
$background-shade: #e9e9e9;
$column-shade: #e8e8e8;
$column-line-shade: #b0b0b0;
$lighter-column-shade: #f4f4f4;
$darker-column-shade: #dfdfdf;

// grey shades for helper toolbar
$dark-shade: #636363;
$dark-highlight-shade: #585757;
$darkest-shade: #464646;

// font grey shades
$body-shade: #3a3a3a;
$h4-shade: #5d5d5d;
$h3-shade: #414344;
$h2-shade: #5e5e5e;
$h1-shade: #4f5152;

// icon grey shades
$white-icon-shade: #ffffff;
$icon-shade: #636363;
$disabled-icon-shade: #c5c5c5;
$reverse-icon-shade: #fbfbfb;
$disabled-reverse-icon-shade: #a4a4a4;

// non-grey colors
$primary-accent: #057DBC;
$primary-accent-hover: #046497;

$success: #2D715C;
$success-hover: #1f5041;
$success-pastel: #caece1;

$error: #D93D33;
$error-hover: #af3128;
$error-pastel: #f6d8d7;

$warning: #C75302;
$warning-hover: #953d00;
$warning-pastel: #fae3d3;

$input-focus-color: #fffcf4;

// misc ui variables
$rad-borders: 5px; // global border radius value
$big-rad-borders: 20px;

// type-patterns

html, body, .panel-container {
	height: 100%; // makes panels independently scrollable
}

body {
  font: 100% $primary-font-stack;
  color: $body-shade;
  background: $background-shade;
  padding: 0;
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
	color: $primary-accent;
}

section {
	background: $white-shade;
	padding: 25px;
	margin-left: 65px;
}

	.placeholder {
		margin: 0 auto;
		width: 85%;
	}
	
	.single-panel {
		width: 40%;
		padding: 0;
		overflow: scroll;
		float: left;
		margin-left: 10px;
		height: 100%;
		
		.toolbar {
			width: 40%;
			
		}
	}
	
	.first-panel {
		margin-left: 65px;
	}
	
	.panel-content {
		margin-top: 60px;
		position: relative;
	}
	

	.button {
		border-radius: $rad-borders;
		font-size: 18px;
		background: $white-shade;
		border: 1px solid $darker-column-shade;
		padding: 8px 20px;
		text-decoration: none;
		color: $icon-shade;
		font-weight: normal;
	
		.dijitIcon {
			margin-right: 4px;
		}
	}

	.button.primary {
		background: $primary-accent;
		color: $white-shade;
		border: none;
	}
	
	.button:hover, .button:active {
		background: $column-shade;
		color: $body-shade;
	}
	
	.button.primary:hover, .button.primary:active {
		background: $primary-accent-hover;
		color: $white-shade;
		border: none;
	}
	
	.button:active {
		box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
	}

h1 {
	color: $h1-shade;
	font-size: 28px;
	font-weight: normal;
	line-height: 36px;
}

h2 {
	color: $h2-shade;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 30px;
}

h3 {
	color: $h3-shade;
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}

h4 {
	color: $h4-shade;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	margin: 0;
}

p, li, {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 30px;
}

aside.dark-box, aside.callout-box {
	background-color: $lighter-column-shade;
	padding: 16px 20px 18px;
	margin-bottom: 20px;
	
	h1, h2, h3, h4, p, ul, ol { margin-top: 0 }
	
	.dijitIcon {
		float: left;
		font-size: 48px;
		color: $icon-shade;
		margin: 0 30px 30px 0;
	}
	
	h4 {
		color: $dark-shade;
		font-weight: normal;
		font-size: 16px;
	}
	
	p {
		margin-bottom: 15px;
	}
	
	.button {
		color: $white-shade;
		background: $success;
		float: right;
		margin: 0 0 30px 30px;
		border: none;
	}

}

aside.callout-box {
	background-color: $white-shade;
	border: 1px solid $darker-column-shade;
}


aside.callout-box.success {
	background-color: $success-pastel;
	border: none;
	color: $white-shade;

	.dijitIcon {
		color: $success;
	}

	p {
		color: $body-shade;
	}
}

aside.callout-box.warning {
	background-color: $warning-pastel;
	border: none;
	color: $white-shade;

	.dijitIcon {
		color: $warning;
	}

	p {
		color: $body-shade;
	}
	
	.button {
		background: $warning;
	}
}



// nav-patterns

.primary-nav {
	background: $column-shade;
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
	left: 0;
	height: 100%;
	border: 1px solid $column-line-shade;
	width: 60px;
	border-top: 0;
	border-bottom: 0;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			
			a {
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				font-size: 24px;
				display: block;
				text-align: center;
				padding: 18px 10px;
			}
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $primary-accent;
			border-radius: $rad-borders;
			color: $white-shade;
		    display: none;
		    font-size: 15px;
			z-index: 500;
		    left: 72px;
		    margin-top: -51px;
		    padding: 5px 9px;
		    position: absolute;
		    width: auto;
		}
		
		li:hover {
			
			a {
				background: $primary-accent;
				color: $white-shade;
			}
		}
		
		li:active, li.active:active {
			
			a {
				background: $primary-accent-hover;
			}
		}
		
		li.active {
			a {
				background: $white-shade;
				color: $primary-accent;
			}
		}
	}
}


.helper-nav {
	margin: 0;
	padding: 0;
	top: 10px;
	position: fixed;
	right: 0;
	border: 1px solid $column-line-shade;
	width: 70px;
	border-right: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			
			a {
				text-decoration: none;
				background: $white-shade;
				font-weight: normal;
				color: $icon-shade;
				font-size: 30px;
				display: block;
				text-align: center;
				padding: 15px 15px 15px 10px;
			}
		}
		
		li:first-child a {
			-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			border-top-left-radius: 5px;
		}
		
		li:last-child a {
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-left-radius: 5px;
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $primary-accent;
			border-radius: $rad-borders;
			color: $white-shade;
		    display: none;
		    font-size: 15px;
			z-index: 100;
		    right: 85px;
		    margin-top: -49px;
		    padding: 5px 9px;
		    position: absolute;
		    width: auto;
		}
		
		li:hover {
			
			label {
				display: block;
			}
			
			a {
				background: $darker-column-shade;
			}
		}
		
		li:active, li.active {
			
			a {
				background: $primary-accent;
				color: $white-shade;
			}
		}
	}
}


// swimlane toggle nav 

.swimlane-nav {
	margin: 0;
	padding: 0;
	background: $background-shade;
	margin-top: 66px;
	float: left;
	margin-left: 15px;
	position: relative;
	width: 40px;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0 0 5px;
			
			a {
				border-radius: $rad-borders;
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				font-size: 18px;
				display: block;
				text-align: center;
				padding: 4px 8px;
				border: 1px solid $background-shade;
			}
		}
		
		li:first-child a {
			-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
			border-top-left-radius: 5px;
		}
		
		li:last-child a {
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-left-radius: 5px;
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $primary-accent;
			border-radius: $rad-borders;
			color: $white-shade;
		    display: none;
		    font-size: 14px;
		    left: 50px;
		    margin-top: -33px;
		    padding: 1px 8px;
		    position: absolute;
		    width: auto;
		    z-index: 100;
		}
		
		li:hover {
			
			label {
				display: block;
			}
			
			a {
				border: 1px solid $column-line-shade;
			}
		}
		
		li:active, li.active, li.active:hover {
			a {
				background: $dark-shade;
				color: $column-shade;
				border: 1px solid $dark-shade;
			}
		}
	}
}

// analyze content toolbar 

.toolbar {
	border-bottom: 1px solid $column-line-shade;
	background: $white-shade;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	height: 60px;
	
	h1 {
		float: left;
		padding: 10px 10px 10px 25px;
		margin: 0;
	}
	
	ul {
		list-style: none;
		float: right;
		right: 125px;
		margin: 12px 15px 0 0;
		
		li {
			margin: 0;
			float: left;
			margin-right: 3px;
			
			a {
				border-radius: $rad-borders;
				text-decoration: none;
				font-weight: normal;
				color: $icon-shade;
				font-size: 18px;
				display: block;
				text-align: center;
				padding: 4px 8px;
				border: 1px solid $white-shade;
			}
		}
		
		li:hover {
			
			a {
				border: 1px solid $darker-column-shade;
			}
		}
		
		li:active {
			
			a {
				background: $primary-accent;
				border-color: $primary-accent;
				color: $white-shade;
				border-top: 1px solid rgba(0,0,0,0.3);
			}
		}
	}
	
	h4.toolbar-main-button {
		float: right;
	    margin-top: 16px;
		margin-right: 25px;
		
		.button {
			padding: 8px 35px;
		}
		
		.dijitIcon {
			margin-right: 0;
		}
	}
}

// dialog style

.dialog {
	display: none;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 250;
	margin: 0;
	padding: 0;
	
	.inside-dialog {
		width: 80%;
		border: 3px solid $column-line-shade;
		max-height: 500px;
		overflow: auto;
		max-width: 1200px;
		margin: 5% auto 0;
		border-radius: 5px;
		padding: 35px;
		background: $white-shade;
	}
}


// analyze content

.highlights-content, .annotations-content {
	padding: 10px 5px 0;
	float: left;
	height: 2200px;
	width: 100px;
	background: $lighter-column-shade;
	
	h5 {
		margin: 0 0 12px;
		text-align: center;
	}
}

.highlights-content {
	
	ul { margin: 0; padding: 0;}
	
	li {
		float: left;
		background: $warning;
		margin: 0 6px 0 0;
	}
	
	li:last-child { margin-right: 0 }
	
	a, .random-highlight {
		color: $white-shade;
		width: 25px;
		height: 20px;
		display: block;
		text-align: center;
		
		span {
			font-size: 15px;
			position: relative;
			bottom: 3px;
		}
	}
	
	.random-highlight {
		position: absolute;
		top: 200px;
		background: $warning;
		height: 300px;
	}
}

.annotations-content {
	border-left: 1px solid $column-line-shade;
}

.main-content {
	margin: 0 25px 0 225px;
	padding-top: 1px;
	
	.tpIconEllipses {
		font-size: 24px;
		color: $h4-shade;
		position: relative;
		top: 5px;
	}
}


// prior art changes

.prior-art {
	width: 85%;

	.toolbar {
		width: 85%;
	}
	
	.main-content {
		margin-left: 25px;
		width: 68%;
		float: left;
		padding-top: 25px;
		
		img {
			float: left;
			width: 225px;
			margin: 0 25px 25px 0;
			border: 1px solid $background-shade;
		}
		
		.pa-snippet {
			border-bottom: 1px solid $darker-column-shade;
			margin-bottom: 25px;
			overflow: auto;
			
			.tpIconSuccessCircle {
				color: $success;
			}
		}
		
	
		h4 {
			font-size: 16px;
			font-weight: normal;
		}
		
		p {
			margin-top: 5px;
		}
	}
	
	h2 {
		padding: 0;
		margin: 0 0 12px;
		
		.dijitIcon {
			color: $success;
		}
	}
	
	.highlights-content {
		float: left;
		width: 8%;
		
	}
	
	.annotations-content {
		float: left;
		width: 18%;
		
		.random-icon {
			padding: 0 10px 10px;
			
			p {
				font-size: 16px;
				line-height: 24px;
				margin-top: 0;
			}
		}
	}
}


// forms 

form {
	position: relative;
	
	p {
		overflow: auto;
	}
	
	label {
		float: left;
		margin-right: 10px;
		color: $h2-shade;
		font-weight: normal;
		font-size: 16px;
		margin-top: 3px;
		width: 120px;
	}
	
	input[type="text"], textarea, select {
		border-radius: $rad-borders;
		font: 100% $primary-font-stack;
		color: $body-shade;
		font-size: 15px;
		padding: 8px;
		border: 1px solid $column-line-shade;
		width: 53%;
	}
	
	select {
		padding: 0;
	}
	
	input:focus, textarea:focus {
		background: #fffcf4;
	}
	
	.dijitIcon {
		font-size: 18px;
		margin-left: 8px;
		color: $success;
	}
	
	.error-label, input[type="checkbox"] + label, input[type="radio"] + label {
		float: none;
		margin: 0 0 0 130px;
		display: block;
		width: auto;
		font-weight: bold;
		font-size: 15px;
	}
	
	.error {
		input, .dijitIcon, .error-label {
			color: $error;
		}
		
		input {
			border: 2px solid $error;
		}
	}
	
	input[type="checkbox"], input[type="radio"] {
		margin-left: 130px;
		display: inline;
	}
	input[type="checkbox"] + label, input[type="radio"] + label {
		width: auto;
		display: inline-block;
		margin-left: 2px;
		font-weight: normal;
		font-size: 16px;
	}
	
	input[type="checkbox"] + label + .dijitIcon, input[type="radio"] + label + .dijitIcon {
		position: absolute;
		left: 486px;
	}
	
	.button {
		margin-left: 130px;
		
		.dijitIcon {
			color: $white-shade;
			margin-left: 0;
		}
	}
}

// work manager nav

.wm-primary-nav {
	background: $white-shade;
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
	left: 0;
	height: 100%;
	border: 1px solid $column-line-shade;
	width: 225px;
	border-top: 0;
	border-bottom: 0;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			
			a {
				text-decoration: none;
				font-weight: normal;
				color: $body-shade;
				border-bottom: 1px solid $column-shade;
				font-size: 16px;
				display: block;
				text-align: left;
				padding: 8px 14px;
				position: relative;
				
				em {
					font-style: normal;
					display: inline-block;
					background: $success;
					padding: 0px 10px;
					color: $white-shade;
					margin-left: 6px;
					font-size: 14px;
					border-radius: $big-rad-borders;
				}
				
				strong {
					font-weight: normal;
					position: absolute;
					text-align: right;
					right: 10px;
					
				}
			}
		}
		
		li.empty-row, li.empty-row:hover, li.empty-row:active {
			a {
				background: $white-shade;
				cursor: default;
				height: 40px;
			}
			
		}
		
		li.nav-label {
			background: $darker-column-shade;
			font-weight: bold;
			font-size: 12px;
			text-align: center;
			padding: 5px 0;
			color: $h4-shade;
		}
		
		label {
			background: none repeat scroll 0 0 $primary-accent;
			border-radius: $rad-borders;
			color: $white-shade;
		    display: none;
		    font-size: 15px;
			z-index: 100;
		    left: 72px;
		    margin-top: -51px;
		    padding: 5px 9px;
		    position: absolute;
		    width: auto;
		}
		
		li:hover {
			
			label {
				display: block;
			}
			
			a {
				background: $darker-column-shade;
			}
		}
		
		li:active {
			
			a {
				background: $lighter-column-shade;
			}
		}
		
		li.active {
			a {
				font-weight: bold;
				
				em {
					font-weight: normal
				}
			}
		}
	}
}
