@import url(../output-css/reset.css);
/* line 60, ../input-css/style.scss */
html, body, .panel-container, .single-panel {
  height: 100%;
}

/* line 64, ../input-css/style.scss */
body {
  font: 100% "Source Sans Pro", sans-serif;
  color: #3a3a3a;
  background: #e9e9e9;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 73, ../input-css/style.scss */
a:link, a:visited, a:hover, a:active {
  color: #0e9bdd;
  transition: box-shadow 0.25s ease 0s;
}

/* line 78, ../input-css/style.scss */
*[tabindex="1"] {
  transition: box-shadow 0.25s ease 0s;
}

/* line 83, ../input-css/style.scss */
:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(64, 87, 125, 0.9);
}

/* line 90, ../input-css/style.scss */
a:active {
  outline: none;
}

/* line 97, ../input-css/style.scss */
section {
  background: white;
  padding: 25px;
  margin-left: 65px;
}

/* line 103, ../input-css/style.scss */
.placeholder {
  margin: 0 auto;
  width: 85%;
}

/* line 108, ../input-css/style.scss */
.single-panel {
  width: 45%;
  padding: 60px 0 0;
  float: left;
  position: relative;
  margin-left: 5px;
}
/* line 115, ../input-css/style.scss */
.single-panel .toolbar, .single-panel .actions-toolbar {
  width: 45%;
}

/* line 121, ../input-css/style.scss */
.first-panel {
  margin-left: 65px;
}

/* line 128, ../input-css/style.scss */
.panel-content {
  position: relative;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

/* line 138, ../input-css/style.scss */
.triple-panel .single-panel, .triple-panel .toolbar, .triple-panel .actions-toolbar {
  width: 30%;
}
/* line 144, ../input-css/style.scss */
.triple-panel .search-parameters, .triple-panel .search-parameters .toolbar {
  width: 20%;
}

/* line 150, ../input-css/style.scss */
a.button {
  border-radius: 5px;
  font-size: 18px;
  background: white;
  border: 1px solid #c2c2c2;
  padding: 8px 20px;
  text-decoration: none;
  color: #7b7b7b;
  font-weight: normal;
}
/* line 160, ../input-css/style.scss */
a.button .dijitIcon {
  margin-right: 4px;
  color: #7b7b7b;
}

/* line 166, ../input-css/style.scss */
a.button:hover, a.button:active {
  background: #e8e8e8;
  color: #3a3a3a;
}

/* line 171, ../input-css/style.scss */
a.button:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
}

/* line 175, ../input-css/style.scss */
a.disabled {
  color: #b0b0b0;
  cursor: not-allowed;
}

/* line 182, ../input-css/style.scss */
a.button.primary {
  background: #0e9bdd;
  color: white;
  border: 1px solid #0e9bdd;
}
/* line 187, ../input-css/style.scss */
a.button.primary .dijitIcon {
  color: white;
}

/* line 192, ../input-css/style.scss */
a.button.primary:hover, a.button.primary:active {
  background: #2292c7;
  color: white;
}

/* line 197, ../input-css/style.scss */
a.primary.disabled, a.primary.disabled:hover, a.primary.disabled:active {
  background: white;
  border: 1px solid #0e9bdd;
}

/* line 203, ../input-css/style.scss */
a.primary.disabled, a.primary.disabled, a.primary.disabled:hover,
a.primary.disabled span, a.primary.disabled .dijitIcon {
  color: #0e9bdd;
}

/* line 209, ../input-css/style.scss */
a.button.error {
  background: #de574d;
  color: white;
  border: 1px solid #de574d;
}
/* line 214, ../input-css/style.scss */
a.button.error .dijitIcon {
  color: white;
}

/* line 219, ../input-css/style.scss */
a.button.error:hover, a.button.error:active {
  background: #bb4d45;
  color: white;
}

/* line 224, ../input-css/style.scss */
a.error.disabled, a.error.disabled:hover, a.error.disabled:active {
  background: white;
  border: 1px solid #de574d;
}

/* line 230, ../input-css/style.scss */
a.error.disabled, a.error.disabled, a.error.disabled:hover,
a.error.disabled span, a.error.disabled .dijitIcon {
  color: #de574d;
}

/* line 234, ../input-css/style.scss */
h1 {
  color: #4f5152;
  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
  margin: 0 0 15px;
}

/* line 242, ../input-css/style.scss */
h2 {
  color: #5e5e5e;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 30px;
}

/* line 250, ../input-css/style.scss */
h3 {
  color: #414344;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin: 0 0 15px;
}

/* line 258, ../input-css/style.scss */
h4, h5, h6 {
  color: #5d5d5d;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

/* line 266, ../input-css/style.scss */
p, li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}

/* line 272, ../input-css/style.scss */
ul, ol {
  padding: 0;
}

/* line 278, ../input-css/style.scss */
form {
  position: relative;
}
/* line 281, ../input-css/style.scss */
form p {
  overflow: auto;
}
/* line 285, ../input-css/style.scss */
form label {
  float: left;
  margin-right: 10px;
  color: #5e5e5e;
  font-weight: normal;
  font-size: 16px;
  margin-top: 3px;
  width: 120px;
}
/* line 295, ../input-css/style.scss */
form input[type="text"], form textarea, form select, form .large-search-field {
  border-radius: 5px;
  font: 100% "Source Sans Pro", sans-serif;
  color: #3a3a3a;
  font-size: 15px;
  padding: 9px;
  border: 1px solid #c2c2c2;
  width: 53%;
}
/* line 305, ../input-css/style.scss */
form select {
  padding: 0;
}
/* line 309, ../input-css/style.scss */
form input:focus, form textarea:focus, form .large-search-field {
  background: #fffcf4;
}
/* line 313, ../input-css/style.scss */
form .dijitIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #97d659;
}
/* line 319, ../input-css/style.scss */
form .error-label, form input[type="checkbox"] + label, form input[type="radio"] + label {
  float: none;
  margin: 0 0 0 130px;
  display: block;
  width: auto;
  font-weight: bold;
  font-size: 15px;
}
/* line 329, ../input-css/style.scss */
form .error input, form .error .dijitIcon, form .error .error-label {
  color: #de574d;
}
/* line 333, ../input-css/style.scss */
form .error input {
  border: 2px solid #de574d;
}
/* line 338, ../input-css/style.scss */
form input[type="checkbox"], form input[type="radio"] {
  margin-left: 130px;
  display: inline;
}
/* line 343, ../input-css/style.scss */
form input[type="checkbox"] + label, form input[type="radio"] + label {
  width: auto;
  display: inline-block;
  margin-left: 2px;
  font-weight: normal;
  font-size: 16px;
}
/* line 351, ../input-css/style.scss */
form input[type="checkbox"] + label + .dijitIcon, form input[type="radio"] + label + .dijitIcon {
  position: absolute;
  left: 486px;
}
/* line 356, ../input-css/style.scss */
form .button {
  margin-left: 130px;
}
/* line 359, ../input-css/style.scss */
form .button .dijitIcon {
  margin-left: 0;
}

/* line 367, ../input-css/style.scss */
aside.dark-box, aside.callout-box {
  background-color: #f4f4f4;
  padding: 16px 20px 18px;
  margin-bottom: 20px;
}
/* line 372, ../input-css/style.scss */
aside.dark-box h1, aside.dark-box h2, aside.dark-box h3, aside.dark-box h4, aside.dark-box p, aside.dark-box ul, aside.dark-box ol, aside.callout-box h1, aside.callout-box h2, aside.callout-box h3, aside.callout-box h4, aside.callout-box p, aside.callout-box ul, aside.callout-box ol {
  margin-top: 0;
}
/* line 374, ../input-css/style.scss */
aside.dark-box .dijitIcon, aside.callout-box .dijitIcon {
  float: left;
  font-size: 48px;
  color: #7b7b7b;
  margin: 0 30px 30px 0;
}
/* line 381, ../input-css/style.scss */
aside.dark-box h4, aside.callout-box h4 {
  color: #737373;
  font-weight: normal;
  font-size: 16px;
}
/* line 387, ../input-css/style.scss */
aside.dark-box p, aside.callout-box p {
  margin-bottom: 15px;
}
/* line 391, ../input-css/style.scss */
aside.dark-box .button, aside.callout-box .button {
  color: white;
  background: #97d659;
  float: right;
  margin: 0 0 30px 30px;
  border: none;
}

/* line 401, ../input-css/style.scss */
aside.callout-box {
  background-color: white;
  border: 1px solid #c2c2c2;
}

/* line 407, ../input-css/style.scss */
aside.callout-box.success {
  background-color: #d8f7b9;
  border: none;
  color: white;
}
/* line 412, ../input-css/style.scss */
aside.callout-box.success .dijitIcon {
  color: #97d659;
}
/* line 416, ../input-css/style.scss */
aside.callout-box.success p {
  color: #3a3a3a;
}
/* line 420, ../input-css/style.scss */
aside.callout-box.success .button {
  color: #3a3a3a;
}

/* line 425, ../input-css/style.scss */
aside.callout-box.warning {
  background-color: #fae3d3;
  border: none;
  color: white;
}
/* line 430, ../input-css/style.scss */
aside.callout-box.warning .dijitIcon {
  color: #c75302;
}
/* line 434, ../input-css/style.scss */
aside.callout-box.warning p {
  color: #3a3a3a;
}
/* line 438, ../input-css/style.scss */
aside.callout-box.warning .button {
  background: #c75302;
}

/* line 446, ../input-css/style.scss */
.teal {
  background-color: #56d4c7;
}

/* line 450, ../input-css/style.scss */
.blue {
  background-color: #77cbeb;
}

/* line 454, ../input-css/style.scss */
.green {
  background-color: #97d659;
}

/* line 458, ../input-css/style.scss */
.yellow {
  background-color: #ead232;
}

/* line 462, ../input-css/style.scss */
.dark-blue {
  background-color: #2481b6;
}

/* line 466, ../input-css/style.scss */
.purple {
  background-color: #a0c6ff;
}

/* line 470, ../input-css/style.scss */
.orange {
  background-color: #f18d5d;
}

/* line 474, ../input-css/style.scss */
.dark-purple {
  background-color: #a069df;
}

/* line 481, ../input-css/style.scss */
.primary-nav {
  background: #e8e8e8;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: 50;
  left: 0;
  height: 100%;
  width: 60px;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid #c2c2c2;
}
/* line 495, ../input-css/style.scss */
.primary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 500, ../input-css/style.scss */
.primary-nav ul li {
  margin: 0;
}
/* line 503, ../input-css/style.scss */
.primary-nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 24px;
  display: block;
  text-align: center;
  padding: 16px 10px;
}
/* line 514, ../input-css/style.scss */
.primary-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 523, ../input-css/style.scss */
.primary-nav ul label {
  background: none repeat scroll 0 0 #0e9bdd;
  border-radius: 5px;
  color: white;
  display: none;
  font-size: 15px;
  z-index: 500;
  left: 72px;
  margin-top: -51px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 539, ../input-css/style.scss */
.primary-nav ul li:hover a {
  background: #0e9bdd;
  color: white;
}
/* line 545, ../input-css/style.scss */
.primary-nav ul li:active + a, .primary-nav ul li.active:active + a {
  background: #2292c7;
}
/* line 550, ../input-css/style.scss */
.primary-nav ul li.active a {
  background: white;
  color: #0e9bdd;
}
/* line 558, ../input-css/style.scss */
.primary-nav ul li.disabled a, .primary-nav ul li.disabled:hover a, .primary-nav ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: #e8e8e8;
}

/* line 570, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav {
  background: #0e9bdd;
  display: none;
  height: 100%;
  left: 59px;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 450;
  padding: 15px;
}
/* line 581, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav h3 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
}
/* line 587, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li, .primary-nav ul li div.flyout-nav li:active, .primary-nav ul li div.flyout-nav li.active, .primary-nav ul li div.flyout-nav li.active:active, .primary-nav ul li div.flyout-nav li.active:hover {
  margin-bottom: 0px;
  position: relative;
}
/* line 591, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li a, .primary-nav ul li div.flyout-nav li:active a, .primary-nav ul li div.flyout-nav li.active a, .primary-nav ul li div.flyout-nav li.active:active a, .primary-nav ul li div.flyout-nav li.active:hover a {
  text-align: left;
  padding: 5px 15px;
  margin: 0 -15px;
  font-size: 16px;
  background: #0e9bdd;
  color: white;
}
/* line 600, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li em, .primary-nav ul li div.flyout-nav li:active em, .primary-nav ul li div.flyout-nav li.active em, .primary-nav ul li div.flyout-nav li.active:active em, .primary-nav ul li div.flyout-nav li.active:hover em {
  display: block;
  left: auto;
  color: white;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 5px;
}
/* line 614, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li:hover a {
  background: #2292c7;
}
/* line 622, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li.disabled a, .primary-nav ul li div.flyout-nav li.disabled:hover a, .primary-nav ul li div.flyout-nav li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: #e8e8e8;
}

/* line 631, ../input-css/style.scss */
.primary-nav ul li:hover .flyout-nav {
  display: block;
}

/* line 638, ../input-css/style.scss */
.helper-nav {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 11px;
  border-right: 0;
  border-top-left-radius: 5px;
  background: #e9e9e9;
  border-bottom-left-radius: 5px;
  z-index: 25;
}
/* line 650, ../input-css/style.scss */
.helper-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 655, ../input-css/style.scss */
.helper-nav > ul li {
  margin: 0 0 15px;
  position: relative;
}
/* line 659, ../input-css/style.scss */
.helper-nav > ul li > a {
  text-decoration: none;
  background: white;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 10px;
  width: 48px;
  border: 1px solid #e0e0e0;
  border-right: 0;
}
/* line 673, ../input-css/style.scss */
.helper-nav > ul li em {
  background: none repeat scroll 0 0 #a069df;
  border-radius: 20px;
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 16px;
  border: 3px solid #864cc8;
  margin-left: 6px;
  padding: 0 10px 1px;
  position: absolute;
  right: 36px;
  top: -8px;
}
/* line 689, ../input-css/style.scss */
.helper-nav > ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 698, ../input-css/style.scss */
.helper-nav > ul label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 15px;
  line-height: 19px;
  z-index: 150;
  right: 75px;
  margin-top: -43px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 713, ../input-css/style.scss */
.helper-nav > ul a:hover {
  background: #f4f4f4;
}
/* line 717, ../input-css/style.scss */
.helper-nav > ul a:hover + label {
  display: inline-block;
}
/* line 723, ../input-css/style.scss */
.helper-nav > ul li.active > a {
  background: #0e9bdd;
  color: white;
  border: none;
}
/* line 729, ../input-css/style.scss */
.helper-nav > ul li.active a:hover + label {
  display: none;
}
/* line 736, ../input-css/style.scss */
.helper-nav > ul li.disabled > a, .helper-nav > ul li.disabled:hover > a, .helper-nav > ul li.disabled:active > a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: white;
}

/* line 748, ../input-css/style.scss */
.helper-nav ul .flyout-helper {
  display: none;
  background: white;
  padding: 18px 70px 18px 18px;
  border: 3px solid #e0e0e0;
  width: 500px;
  height: 840px;
  position: absolute;
  right: -3px;
  top: -4px;
  z-index: -1;
  border-radius: 5px;
}
/* line 761, ../input-css/style.scss */
.helper-nav ul .flyout-helper form {
  overflow: auto;
}
/* line 764, ../input-css/style.scss */
.helper-nav ul .flyout-helper form .find-options {
  margin-bottom: 12px;
}
/* line 768, ../input-css/style.scss */
.helper-nav ul .flyout-helper form label {
  position: static;
  background: none;
  padding: 0;
}
/* line 774, ../input-css/style.scss */
.helper-nav ul .flyout-helper form input[type="checkbox"] {
  margin-left: 18px;
}
/* line 778, ../input-css/style.scss */
.helper-nav ul .flyout-helper form p:first-child input[type="checkbox"] {
  margin-left: 0;
}
/* line 782, ../input-css/style.scss */
.helper-nav ul .flyout-helper form p {
  margin: 0 0 2px 0;
}
/* line 786, ../input-css/style.scss */
.helper-nav ul .flyout-helper form p.search-term {
  margin-bottom: 15px;
}
/* line 791, ../input-css/style.scss */
.helper-nav ul .flyout-helper .toolbar {
  background: #0e9bdd;
  padding: 14px 18px;
  width: auto;
  height: auto;
  position: static;
  margin: -18px -70px 15px -18px;
}
/* line 799, ../input-css/style.scss */
.helper-nav ul .flyout-helper .toolbar h4.toolbar-main-button {
  float: right;
  margin-right: 52px;
  position: relative;
  bottom: 11px;
  display: block;
}
/* line 806, ../input-css/style.scss */
.helper-nav ul .flyout-helper .toolbar h4.toolbar-main-button a {
  color: #7b7b7b;
  background: white;
  font-weight: normal;
  display: block;
}
/* line 815, ../input-css/style.scss */
.helper-nav ul .flyout-helper h3 {
  color: white;
  margin: 0;
}
/* line 820, ../input-css/style.scss */
.helper-nav ul .flyout-helper h4 {
  font-weight: normal;
  display: inline-block;
  margin-top: 5px;
}
/* line 826, ../input-css/style.scss */
.helper-nav ul .flyout-helper h3 a, .helper-nav ul .flyout-helper h4 a {
  display: inline;
  padding: 0;
  background: none;
  color: inherit;
  font-weight: bold;
  border: none;
}
/* line 835, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control {
  overflow: auto;
  float: right;
  background: #e9e9e9;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
/* line 842, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li {
  margin: 0;
  float: left;
  border: 0;
  padding: 0;
  position: relative;
  margin-left: 1px;
}
/* line 850, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li a {
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  background: #f4f4f4;
  font-size: 20px;
  display: block;
  text-align: center;
  border: none !important;
  width: 37px;
  padding: 6px 4px 4px;
}
/* line 863, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li .dijitIcon {
  margin-left: 0;
  color: #7b7b7b;
}
/* line 868, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 15px;
  left: -32%;
  line-height: 19px;
  margin: 0 auto;
  padding: 5px 9px;
  position: absolute;
  text-align: center;
  top: 44px;
  z-index: 100;
}
/* line 885, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:first-child {
  margin-left: 0;
}
/* line 888, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:first-child a {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
/* line 899, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:last-child a {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
/* line 911, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:hover label {
  display: block;
}
/* line 915, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:hover a {
  background: white;
}
/* line 922, ../input-css/style.scss */
.helper-nav ul .flyout-helper ul.pagination-control li:active a, .helper-nav ul .flyout-helper ul.pagination-control li.active a, .helper-nav ul .flyout-helper ul.pagination-control li.active:hover a {
  background: white;
  color: #0e9bdd;
}
/* line 929, ../input-css/style.scss */
.helper-nav ul .flyout-helper .panel-content {
  height: 450px;
  padding: 10px 0;
  margin: 14px 0 10px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
/* line 937, ../input-css/style.scss */
.helper-nav ul .flyout-helper .panel-content h4 {
  font-weight: bold;
}
/* line 941, ../input-css/style.scss */
.helper-nav ul .flyout-helper .panel-content p {
  margin: 0 0 10px;
}
/* line 949, ../input-css/style.scss */
.helper-nav ul .flyout-helper .search-parameters + .panel-content {
  height: 580px;
}
/* line 953, ../input-css/style.scss */
.helper-nav ul .flyout-helper .large-search-field {
  margin-bottom: 15px;
}
/* line 957, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row.header {
  float: left;
  margin-bottom: 0;
}
/* line 962, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row {
  clear: both;
  margin-bottom: 12px;
}
/* line 966, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row span {
  display: block;
  float: right;
  margin: 4px 0 12px 12px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
/* line 975, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row h4, .helper-nav ul .flyout-helper .concept-row input[type="checkbox"] {
  float: left;
  margin-left: 5px;
  margin-top: 9px;
  width: 20px;
}
/* line 982, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row h4 {
  margin-left: 10px;
  font-size: 22px;
}
/* line 987, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row h4:first-child, .helper-nav ul .flyout-helper .concept-row input[type="checkbox"]:first-child, .helper-nav ul .flyout-helper .concept-row span + input[type="checkbox"] {
  margin-left: 0;
}
/* line 991, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row div.description {
  margin-left: 60px;
  padding: 0;
}
/* line 995, ../input-css/style.scss */
.helper-nav ul .flyout-helper .concept-row div.description p {
  margin: 0;
}

/* line 1006, ../input-css/style.scss */
.swimlane-nav {
  margin: 10px 0 0;
  padding: 0;
  background: #e9e9e9;
  float: left;
  z-index: 25;
}
/* line 1013, ../input-css/style.scss */
.swimlane-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1018, ../input-css/style.scss */
.swimlane-nav ul li {
  margin: 0 0 5px;
  position: relative;
}
/* line 1022, ../input-css/style.scss */
.swimlane-nav ul li a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 7px 5px 5px;
  width: 40px;
  border: 1px solid #e9e9e9;
}
/* line 1037, ../input-css/style.scss */
.swimlane-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 1046, ../input-css/style.scss */
.swimlane-nav ul label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 14px;
  line-height: 16px;
  left: 50px;
  top: 8px;
  padding: 4px 8px;
  position: absolute;
  width: auto;
  z-index: 100;
}
/* line 1063, ../input-css/style.scss */
.swimlane-nav ul li:hover label {
  display: inline-block;
}
/* line 1067, ../input-css/style.scss */
.swimlane-nav ul li:hover a {
  background: #f4f4f4;
}
/* line 1073, ../input-css/style.scss */
.swimlane-nav ul li:active a, .swimlane-nav ul li.active a, .swimlane-nav ul li.active:hover a {
  background: white;
  color: #0e9bdd;
}
/* line 1081, ../input-css/style.scss */
.swimlane-nav ul li.disabled a, .swimlane-nav ul li.disabled:hover a, .swimlane-nav ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  border: none;
  background: #e9e9e9;
}

/* line 1093, ../input-css/style.scss */
.toolbar, .content-toolbar, .actions-toolbar {
  border-bottom: 1px solid #e0e0e0;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
}
/* line 1102, ../input-css/style.scss */
.toolbar h1, .content-toolbar h1, .actions-toolbar h1 {
  float: left;
  padding: 10px 10px 10px 18px;
  margin: 0;
}
/* line 1107, ../input-css/style.scss */
.toolbar h1 em, .content-toolbar h1 em, .actions-toolbar h1 em {
  font-size: 18px;
}
/* line 1112, ../input-css/style.scss */
.toolbar ul, .content-toolbar ul, .actions-toolbar ul {
  float: right;
  list-style: none outside none;
  margin: 10px 18px 0 0;
  padding: 0;
  right: 125px;
  border-radius: 5px;
  background: #e9e9e9;
  border: 1px solid #e0e0e0;
}
/* line 1122, ../input-css/style.scss */
.toolbar ul li, .content-toolbar ul li, .actions-toolbar ul li {
  margin: 0;
  float: left;
  border: 0;
  padding: 0;
  position: relative;
  margin-left: 1px;
}
/* line 1130, ../input-css/style.scss */
.toolbar ul li a, .content-toolbar ul li a, .actions-toolbar ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  background: #f4f4f4;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 37px;
  padding: 7px 4px 3px;
}
/* line 1142, ../input-css/style.scss */
.toolbar ul li label, .content-toolbar ul li label, .actions-toolbar ul li label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 15px;
  left: -32%;
  line-height: 19px;
  margin: 0 auto;
  padding: 5px 9px;
  position: absolute;
  text-align: center;
  top: 44px;
  z-index: 100;
}
/* line 1159, ../input-css/style.scss */
.toolbar ul li:first-child, .content-toolbar ul li:first-child, .actions-toolbar ul li:first-child {
  margin-left: 0;
}
/* line 1162, ../input-css/style.scss */
.toolbar ul li:first-child a, .content-toolbar ul li:first-child a, .actions-toolbar ul li:first-child a {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
/* line 1173, ../input-css/style.scss */
.toolbar ul li:last-child a, .content-toolbar ul li:last-child a, .actions-toolbar ul li:last-child a {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
/* line 1184, ../input-css/style.scss */
.toolbar ul li:hover label, .content-toolbar ul li:hover label, .actions-toolbar ul li:hover label {
  display: block;
}
/* line 1188, ../input-css/style.scss */
.toolbar ul li:hover a, .content-toolbar ul li:hover a, .actions-toolbar ul li:hover a {
  background: white;
}
/* line 1195, ../input-css/style.scss */
.toolbar ul li:active a, .toolbar ul li.active a, .toolbar ul li.active:hover a, .content-toolbar ul li:active a, .content-toolbar ul li.active a, .content-toolbar ul li.active:hover a, .actions-toolbar ul li:active a, .actions-toolbar ul li.active a, .actions-toolbar ul li.active:hover a {
  background: white;
  color: #0e9bdd;
}
/* line 1205, ../input-css/style.scss */
.toolbar ul li.disabled a, .toolbar ul li.disabled:hover a, .toolbar ul li.disabled:active a, .content-toolbar ul li.disabled a, .content-toolbar ul li.disabled:hover a, .content-toolbar ul li.disabled:active a, .actions-toolbar ul li.disabled a, .actions-toolbar ul li.disabled:hover a, .actions-toolbar ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  border: none;
}
/* line 1213, ../input-css/style.scss */
.toolbar ul li.text-button a, .content-toolbar ul li.text-button a, .actions-toolbar ul li.text-button a {
  font-size: 18px;
  padding: 5px 8px;
  width: auto;
  font-weight: bold;
}
/* line 1222, ../input-css/style.scss */
.toolbar h4.toolbar-main-button, .content-toolbar h4.toolbar-main-button, .actions-toolbar h4.toolbar-main-button {
  float: right;
  margin-top: 17px;
  margin-right: 18px;
}
/* line 1227, ../input-css/style.scss */
.toolbar h4.toolbar-main-button .button, .content-toolbar h4.toolbar-main-button .button, .actions-toolbar h4.toolbar-main-button .button {
  padding: 8px 11px 6px;
  border: 1px solid #e0e0e0;
}
/* line 1232, ../input-css/style.scss */
.toolbar h4.toolbar-main-button .primary.button, .content-toolbar h4.toolbar-main-button .primary.button, .actions-toolbar h4.toolbar-main-button .primary.button {
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}
/* line 1238, ../input-css/style.scss */
.toolbar h4.toolbar-main-button .dijitIcon, .content-toolbar h4.toolbar-main-button .dijitIcon, .actions-toolbar h4.toolbar-main-button .dijitIcon {
  margin-right: 0;
}
/* line 1243, ../input-css/style.scss */
.toolbar h4.toolbar-main-button + ul, .toolbar form + ul, .content-toolbar h4.toolbar-main-button + ul, .content-toolbar form + ul, .actions-toolbar h4.toolbar-main-button + ul, .actions-toolbar form + ul {
  margin-right: 10px;
}
/* line 1247, ../input-css/style.scss */
.toolbar form input[type="text"], .content-toolbar form input[type="text"], .actions-toolbar form input[type="text"] {
  float: right;
  width: 175px;
  margin: 10px 25px 0 0;
}
/* line 1253, ../input-css/style.scss */
.toolbar ul.tabs, .content-toolbar ul.tabs, .actions-toolbar ul.tabs {
  float: left;
  left: 18px;
  bottom: 0;
  position: absolute;
  right: auto;
  background: white;
  border-radius: none;
  border: none;
}
/* line 1263, ../input-css/style.scss */
.toolbar ul.tabs li, .content-toolbar ul.tabs li, .actions-toolbar ul.tabs li {
  margin-left: 5px;
}
/* line 1266, ../input-css/style.scss */
.toolbar ul.tabs li a, .content-toolbar ul.tabs li a, .actions-toolbar ul.tabs li a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  width: auto;
  font-size: 18px;
  padding: 6px 10px;
}
/* line 1280, ../input-css/style.scss */
.toolbar ul.tabs li.active a, .content-toolbar ul.tabs li.active a, .actions-toolbar ul.tabs li.active a {
  height: 39px;
  padding-bottom: 7px;
  position: relative;
  top: 1px;
}
/* line 1288, ../input-css/style.scss */
.toolbar ul.tabs li:first-child, .content-toolbar ul.tabs li:first-child, .actions-toolbar ul.tabs li:first-child {
  margin-left: 0;
}

/* line 1297, ../input-css/style.scss */
.content-toolbar {
  position: static;
}
/* line 1300, ../input-css/style.scss */
.content-toolbar ul {
  float: left;
  margin-left: 25px;
}
/* line 1304, ../input-css/style.scss */
.content-toolbar ul li a {
  font-size: 24px;
}

/* line 1312, ../input-css/style.scss */
.dialog {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 250;
  margin: 0;
  padding: 0;
}
/* line 1322, ../input-css/style.scss */
.dialog .inside-dialog {
  width: 80%;
  border: 3px solid #e0e0e0;
  max-height: 500px;
  overflow: auto;
  max-width: 1200px;
  margin: 5% auto 0;
  border-radius: 5px;
  padding: 35px;
  background: white;
}

/* line 1338, ../input-css/style.scss */
.highlights-content, .annotations-content, .annotations-content-full, .figures-content {
  padding: 10px 5px 0;
  float: left;
  height: 2200px;
  width: 100px;
  background: #f4f4f4;
}
/* line 1345, ../input-css/style.scss */
.highlights-content h5, .annotations-content h5, .annotations-content-full h5, .figures-content h5 {
  margin: 0 0 12px;
  text-align: center;
  font-size: 16px;
}
/* line 1350, ../input-css/style.scss */
.highlights-content h5 a, .annotations-content h5 a, .annotations-content-full h5 a, .figures-content h5 a {
  color: #5d5d5d;
}

/* line 1358, ../input-css/style.scss */
.highlights-content ul {
  margin: 0;
  padding: 0;
}
/* line 1360, ../input-css/style.scss */
.highlights-content li {
  float: left;
  margin: 0 6px 0 0;
  border-radius: 5px;
}
/* line 1366, ../input-css/style.scss */
.highlights-content li:last-child {
  margin-right: 0;
}
/* line 1368, ../input-css/style.scss */
.highlights-content a, .highlights-content .highlight {
  color: white;
  width: 25px;
  height: 20px;
  display: block;
  border-radius: 5px;
  text-align: center;
}
/* line 1376, ../input-css/style.scss */
.highlights-content a span, .highlights-content .highlight span {
  font-size: 15px;
  position: relative;
  bottom: 2px;
}
/* line 1383, ../input-css/style.scss */
.highlights-content .highlight {
  position: absolute;
  top: 200px;
  height: 300px;
}

/* line 1390, ../input-css/style.scss */
.annotations-content {
  border-left: 1px solid #e0e0e0;
  width: 50px;
}
/* line 1394, ../input-css/style.scss */
.annotations-content .annotation {
  color: #7b7b7b;
}

/* line 1399, ../input-css/style.scss */
.main-content {
  margin: 18px 18px 0 18px;
  padding-top: 1px;
}
/* line 1403, ../input-css/style.scss */
.main-content .tpIconEllipses {
  font-size: 24px;
  color: #5d5d5d;
  position: relative;
  top: 5px;
}

/* line 1416, ../input-css/style.scss */
.full-panel .main-content {
  float: left;
  margin-left: 20px;
  width: 43%;
}
/* line 1422, ../input-css/style.scss */
.full-panel .annotations-content-full {
  width: 180px;
  padding: 10px 15px;
}
/* line 1426, ../input-css/style.scss */
.full-panel .annotations-content-full .annotation {
  margin-bottom: 15px;
}
/* line 1429, ../input-css/style.scss */
.full-panel .annotations-content-full .annotation span {
  font-size: 16px;
  color: #7b7b7b;
}
/* line 1434, ../input-css/style.scss */
.full-panel .annotations-content-full .annotation p {
  margin-top: 0;
}
/* line 1441, ../input-css/style.scss */
.full-panel .figures-content {
  border-left: 1px solid #e0e0e0;
}
/* line 1444, ../input-css/style.scss */
.full-panel .figures-content img {
  width: 100%;
}

/* line 1457, ../input-css/style.scss */
.prior-art {
  width: 85%;
}
/* line 1460, ../input-css/style.scss */
.prior-art .toolbar {
  width: 85%;
}
/* line 1464, ../input-css/style.scss */
.prior-art .main-content {
  margin-left: 25px;
  width: 68%;
  float: left;
  padding-top: 25px;
}
/* line 1470, ../input-css/style.scss */
.prior-art .main-content img {
  float: left;
  width: 225px;
  margin: 0 25px 25px 0;
  border: 1px solid #e9e9e9;
}
/* line 1477, ../input-css/style.scss */
.prior-art .main-content .pa-snippet {
  margin-bottom: 25px;
  overflow: auto;
}
/* line 1481, ../input-css/style.scss */
.prior-art .main-content .pa-snippet .tpIconSuccessCircle {
  color: #97d659;
}
/* line 1487, ../input-css/style.scss */
.prior-art .main-content h4 {
  font-size: 16px;
  font-weight: normal;
}
/* line 1492, ../input-css/style.scss */
.prior-art .main-content p {
  margin-top: 5px;
}
/* line 1497, ../input-css/style.scss */
.prior-art h2 {
  padding: 0;
  margin: 0 0 12px;
}
/* line 1501, ../input-css/style.scss */
.prior-art h2 .dijitIcon {
  color: #97d659;
}
/* line 1506, ../input-css/style.scss */
.prior-art .highlights-content {
  float: left;
  width: 8%;
}
/* line 1512, ../input-css/style.scss */
.prior-art .annotations-content {
  float: left;
  width: 18%;
}
/* line 1516, ../input-css/style.scss */
.prior-art .annotations-content .random-icon {
  padding: 0 10px 10px;
}
/* line 1519, ../input-css/style.scss */
.prior-art .annotations-content .random-icon p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

/* line 1536, ../input-css/style.scss */
.work-manager .intray-nav {
  background: white;
  margin: 0 0 0 65px;
  padding: 0;
  top: 0;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  width: 225px;
  border-top: 0;
  border-bottom: 0;
}
/* line 1549, ../input-css/style.scss */
.work-manager .intray-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1554, ../input-css/style.scss */
.work-manager .intray-nav ul li {
  margin: 0;
}
/* line 1557, ../input-css/style.scss */
.work-manager .intray-nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #3a3a3a;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
  display: block;
  text-align: left;
  padding: 8px 14px;
  position: relative;
}
/* line 1568, ../input-css/style.scss */
.work-manager .intray-nav ul li a em {
  font-style: normal;
  display: inline-block;
  background: #97d659;
  padding: 0 8px;
  margin-left: 6px;
  border-radius: 20px;
}
/* line 1577, ../input-css/style.scss */
.work-manager .intray-nav ul li a strong {
  font-weight: normal;
  position: absolute;
  text-align: right;
  right: 10px;
}
/* line 1585, ../input-css/style.scss */
.work-manager .intray-nav ul li a span {
  display: block;
  float: left;
  height: 26px;
  margin-right: 9px;
  width: 9px;
}
/* line 1596, ../input-css/style.scss */
.work-manager .intray-nav ul li.empty-row a, .work-manager .intray-nav ul li.empty-row:hover a, .work-manager .intray-nav ul li.empty-row:active a {
  background: white;
  cursor: default;
  height: 40px;
}
/* line 1604, ../input-css/style.scss */
.work-manager .intray-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 1613, ../input-css/style.scss */
.work-manager .intray-nav ul label {
  background: none repeat scroll 0 0 #0e9bdd;
  border-radius: 5px;
  color: white;
  display: none;
  font-size: 15px;
  z-index: 100;
  left: 72px;
  margin-top: -51px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 1629, ../input-css/style.scss */
.work-manager .intray-nav ul li:hover label {
  display: block;
}
/* line 1633, ../input-css/style.scss */
.work-manager .intray-nav ul li:hover a {
  background: #f4f4f4;
}
/* line 1640, ../input-css/style.scss */
.work-manager .intray-nav ul li:active a {
  background: #f4f4f4;
}
/* line 1646, ../input-css/style.scss */
.work-manager .intray-nav ul li.active a {
  font-weight: bold;
}
/* line 1649, ../input-css/style.scss */
.work-manager .intray-nav ul li.active a em {
  font-weight: normal;
}
/* line 1657, ../input-css/style.scss */
.work-manager .first-panel {
  margin-left: 290px;
}
/* line 1661, ../input-css/style.scss */
.work-manager .first-panel, .work-manager .second-panel, .work-manager .toolbar {
  width: 35%;
}
/* line 1664, ../input-css/style.scss */
.work-manager .browse-items {
  background: #f4f4f4;
  padding: 25px;
}
/* line 1668, ../input-css/style.scss */
.work-manager .browse-items .workspace-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px 15px 15px 25px;
  background: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
/* line 1678, ../input-css/style.scss */
.work-manager .browse-items .workspace-item .highlight {
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
}
/* line 1687, ../input-css/style.scss */
.work-manager .browse-items .workspace-item img {
  float: right;
  width: 25%;
}
/* line 1692, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul {
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1698, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li {
  float: left;
  margin: 0 0 0 5px;
  height: 30px;
}
/* line 1703, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li a {
  border-radius: 20px;
  padding: 3px 8px;
  color: #3a3a3a;
  font-size: 16px;
}
/* line 1711, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li:first-child {
  margin-left: 0;
}
/* line 1715, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.rating a {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #e0e0e0;
}
/* line 1721, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.limit {
  margin-left: 0;
  margin-right: 10px;
}
/* line 1725, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.limit a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #97d659;
}
/* line 1734, ../input-css/style.scss */
.work-manager .browse-items .workspace-item:hover {
  border-color: #0e9bdd;
}
/* line 1738, ../input-css/style.scss */
.work-manager .browse-items .workspace-item:active, .work-manager .browse-items .workspace-item.active {
  background: #daf0fa;
}
/* line 1743, ../input-css/style.scss */
.work-manager .workspace-preview {
  padding-top: 207px;
}
/* line 1746, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar {
  height: 207px;
}
/* line 1749, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar h3 {
  padding: 10px 10px 10px 18px;
  clear: both;
}
/* line 1754, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar h4.toolbar-main-button {
  margin: 0;
  position: absolute;
  right: 18px;
  bottom: 15px;
}
/* line 1762, ../input-css/style.scss */
.work-manager .workspace-preview .main-content {
  margin: 18px;
}

/* line 1774, ../input-css/style.scss */
.actions-toolbar {
  bottom: 0;
  top: auto;
  border-top: 1px solid #e0e0e0;
  border-bottom: 0;
  padding: 12px 18px;
}
/* line 1782, ../input-css/style.scss */
.actions-toolbar form p, .actions-toolbar form label, .actions-toolbar form input, .actions-toolbar form button, .actions-toolbar form .button {
  margin: 0;
}
/* line 1786, ../input-css/style.scss */
.actions-toolbar form label, .actions-toolbar form input[type="text"] {
  float: none;
  margin-top: 0;
  margin-right: 6px;
}
/* line 1793, ../input-css/style.scss */
.actions-toolbar div.left, .actions-toolbar p, .actions-toolbar ul {
  float: left;
  margin-right: 8px;
}
/* line 1798, ../input-css/style.scss */
.actions-toolbar div.left, .actions-toolbar li {
  margin-left: 0;
}
/* line 1800, ../input-css/style.scss */
.actions-toolbar div.right {
  float: right;
}
/* line 1805, ../input-css/style.scss */
.actions-toolbar ul {
  margin: 0;
  border: 0;
  background: none;
}
/* line 1811, ../input-css/style.scss */
.actions-toolbar ul li {
  margin-left: 5px;
}
/* line 1814, ../input-css/style.scss */
.actions-toolbar ul li a {
  width: auto;
  font-size: 18px;
  padding: 6px 12px;
}
/* line 1822, ../input-css/style.scss */
.actions-toolbar .status {
  position: absolute;
  margin-left: 16%;
  padding: 12px;
  background: #c75302;
  bottom: 45px;
  z-index: 150;
}
/* line 1830, ../input-css/style.scss */
.actions-toolbar .status h4 {
  font-weight: normal;
  color: white;
}

/* line 1837, ../input-css/style.scss */
.communication {
  padding-bottom: 60px;
}
/* line 1842, ../input-css/style.scss */
.communication .toolbar ul.tabs {
  position: static;
  float: right;
  margin-top: 20px;
}
/* line 1849, ../input-css/style.scss */
.communication .panel-content {
  background: #c2c2c2;
}
/* line 1852, ../input-css/style.scss */
.communication .panel-content .content-toolbar {
  background: white;
}
/* line 1856, ../input-css/style.scss */
.communication .panel-content .main-content {
  margin: 25px 15px;
  background: white;
  padding: 25px 18px;
  box-shadow: 0 3px 1px #737373;
}
/* line 1863, ../input-css/style.scss */
.communication .panel-content .nested {
  padding: 15px;
  background: #f4f4f4;
}
/* line 1867, ../input-css/style.scss */
.communication .panel-content .nested .nested {
  background: white;
}
/* line 1870, ../input-css/style.scss */
.communication .panel-content .nested .nested .nested {
  border: 1px solid #e0e0e0;
}

/* line 1878, ../input-css/style.scss */
.annotations {
  padding-bottom: 60px;
}
/* line 1881, ../input-css/style.scss */
.annotations .main-content {
  margin: 0;
}
/* line 1884, ../input-css/style.scss */
.annotations .main-content h2 {
  padding: 12px 20px;
  margin: 15px 0 0 0;
}
/* line 1890, ../input-css/style.scss */
.annotations .annotations-row {
  padding: 12px 20px;
  border-bottom: 1px solid #e0e0e0;
  overflow: auto;
  position: relative;
  cursor: pointer;
}
/* line 1897, ../input-css/style.scss */
.annotations .annotations-row .dijitIcon, .annotations .annotations-row h3, .annotations .annotations-row p, .annotations .annotations-row h4 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 1903, ../input-css/style.scss */
.annotations .annotations-row .dijitIcon {
  position: relative;
  top: 6px;
  font-size: 12px;
  margin-right: 20px;
  color: white;
}
/* line 1911, ../input-css/style.scss */
.annotations .annotations-row .tpIconSuccessCircle {
  font-size: 20px;
  top: 3px;
}
/* line 1917, ../input-css/style.scss */
.annotations .annotations-row p {
  position: absolute;
  top: 12px;
  left: 190px;
}
/* line 1923, ../input-css/style.scss */
.annotations .annotations-row h3 {
  font-size: 16px;
  font-weight: bold;
}
/* line 1928, ../input-css/style.scss */
.annotations .annotations-row ul {
  float: right;
  margin: 0;
  list-style: none;
  padding: 0;
}
/* line 1934, ../input-css/style.scss */
.annotations .annotations-row ul li {
  margin: 0 0 0 12px;
  float: left;
}
/* line 1938, ../input-css/style.scss */
.annotations .annotations-row ul li a {
  border: 0;
  color: #7b7b7b;
}
/* line 1942, ../input-css/style.scss */
.annotations .annotations-row ul li a .dijitIcon {
  margin: 0;
  top: 0;
  font-size: 25px;
  color: #e8e8e8;
}
/* line 1949, ../input-css/style.scss */
.annotations .annotations-row ul li a .tpIconCompletedTemplate {
  color: #97d659;
}
/* line 1955, ../input-css/style.scss */
.annotations .annotations-row ul li:first-child {
  margin-left: 0;
}
/* line 1960, ../input-css/style.scss */
.annotations .done .dijitIcon {
  top: 4px;
  color: #c2c2c2;
}
/* line 1967, ../input-css/style.scss */
.annotations .annotations-row.unread .dijitIcon.tpIconCircleFilled {
  color: #0e9bdd;
}
/* line 1971, ../input-css/style.scss */
.annotations .annotations-row.unread p {
  font-weight: bold;
}
/* line 1976, ../input-css/style.scss */
.annotations .annotations-row.header {
  border-top: 1px solid #e0e0e0;
}
/* line 1980, ../input-css/style.scss */
.annotations .annotations-row.header, .annotations .annotations-row.done {
  background: #f4f4f4;
}
/* line 1984, ../input-css/style.scss */
.annotations .annotations-row:hover {
  background: #daf0fa;
}
/* line 1987, ../input-css/style.scss */
.annotations .annotations-row:hover .dijitIcon {
  color: #daf0fa;
}
/* line 1991, ../input-css/style.scss */
.annotations .annotations-row:hover .tpIconSuccessCircle {
  color: #c2c2c2;
}
/* line 1996, ../input-css/style.scss */
.annotations .annotations-row:hover ul li a .dijitIcon {
  color: #7b7b7b;
}
/* line 2000, ../input-css/style.scss */
.annotations .annotations-row:hover ul li a .tpIconCompletedTemplate {
  color: #82b94b;
}

/* line 2011, ../input-css/style.scss */
.search-results .search-result-snippet {
  margin-bottom: 25px;
  clear: both;
  border-bottom: 1px solid #e0e0e0;
}
/* line 2016, ../input-css/style.scss */
.search-results .search-result-snippet img {
  float: left;
  margin: 0 15px 15px 0;
  border: 1px solid #e0e0e0;
  width: 20%;
}
/* line 2023, ../input-css/style.scss */
.search-results .search-result-snippet p {
  margin-left: 109px;
}

/* line 2030, ../input-css/style.scss */
.search-parameters .large-search-field {
  width: 100%;
  min-height: 90px;
}
/* line 2034, ../input-css/style.scss */
.search-parameters .large-search-field p {
  margin: 0;
  padding: 0;
}
/* line 2038, ../input-css/style.scss */
.search-parameters .large-search-field p a {
  color: #3a3a3a;
}
/* line 2045, ../input-css/style.scss */
.search-parameters .panel-content {
  height: auto;
  width: 100%;
  overflow: none;
  border-bottom: 5px solid #e9e9e9;
}
/* line 2051, ../input-css/style.scss */
.search-parameters .panel-content .main-content {
  margin-bottom: 25px;
}
/* line 2056, ../input-css/style.scss */
.search-parameters .concepts {
  height: 100%;
}
/* line 2059, ../input-css/style.scss */
.search-parameters .concepts .toolbar {
  position: relative;
  width: 100%;
}
/* line 2064, ../input-css/style.scss */
.search-parameters .concepts .panel-content {
  height: 80%;
  border-bottom: 0;
}
/* line 2068, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row {
  clear: both;
  margin-bottom: 12px;
}
/* line 2072, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row span {
  display: block;
  float: right;
  margin: 4px 0 12px 12px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
/* line 2081, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row h4, .search-parameters .concepts .panel-content .concept-row input[type="checkbox"] {
  float: left;
  margin-left: 5px;
  margin-top: 9px;
  width: 20px;
}
/* line 2088, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row h4 {
  margin-left: 10px;
  font-size: 22px;
}
/* line 2093, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row h4:first-child, .search-parameters .concepts .panel-content .concept-row input[type="checkbox"]:first-child {
  margin-left: 0;
}
/* line 2097, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row div.description {
  margin-left: 60px;
  padding: 0;
}
/* line 2101, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row div.description p {
  margin: 0;
}
/* line 2107, ../input-css/style.scss */
.search-parameters .concepts .panel-content .concept-row.header {
  overflow: auto;
  margin-bottom: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

/* line 2118, ../input-css/style.scss */
.search-parameters.collapsed {
  width: 10%;
}
/* line 2121, ../input-css/style.scss */
.search-parameters.collapsed div {
  display: none;
}
/* line 2125, ../input-css/style.scss */
.search-parameters.collapsed .toolbar:first-child {
  display: block;
  width: 10%;
}
/* line 2129, ../input-css/style.scss */
.search-parameters.collapsed .toolbar:first-child ul {
  display: none;
}
/* line 2133, ../input-css/style.scss */
.search-parameters.collapsed .toolbar:first-child .tpIconLeftArrow:before {
  display: inline-block;
  transform: rotate(180deg);
}

/*
 * jQuery contextMenu - Plugin for simple contextMenu handling
 *
 * Version: git-master
 *
 * Authors: Rodney Rehm, Addy Osmani (patches for FF)
 * Web: http://medialize.github.com/jQuery-contextMenu/
 *
 * Licensed under
 *   MIT License http://www.opensource.org/licenses/mit-license
 *   GPL v3 http://opensource.org/licenses/GPL-3.0
 *
 */
/* line 2158, ../input-css/style.scss */
.context-menu-list {
  margin: 0;
  padding: 0;
  min-width: 180px;
  max-width: 250px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  border: 3px solid #c2c2c2;
  border-radius: 5px;
  background: white;
}

/* line 2173, ../input-css/style.scss */
.context-menu-item {
  padding: 2px 5px 3px;
  margin: 0 5px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 2184, ../input-css/style.scss */
.context-menu-item:last-child {
  border-bottom: 0;
}

/* line 2189, ../input-css/style.scss */
.context-menu-separator {
  padding-bottom: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* line 2195, ../input-css/style.scss */
.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* line 2202, ../input-css/style.scss */
.context-menu-item.hover {
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 2px 10px 3px;
  margin: 0;
}

/* line 2209, ../input-css/style.scss */
.context-menu-item.disabled {
  color: #b0b0b0;
}

/* line 2214, ../input-css/style.scss */
.context-menu-input.hover,
.context-menu-item.disabled.hover {
  cursor: default;
  background-color: #EEE;
}

/* line 2219, ../input-css/style.scss */
.context-menu-submenu:after {
  content: "\ae";
  font-family: 'edyt-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3a3a3a;
  position: absolute;
  top: 9px;
  font-size: 12px;
  right: 3px;
  z-index: 1;
}

/* line 2241, ../input-css/style.scss */
.context-menu-item.hover:after {
  right: 8px;
}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement 
    .context-menu-item.icon:before {}
 */
/* line 2252, ../input-css/style.scss */
.context-menu-item.oom-button span {
  border: none;
  border-radius: 5px;
  background: #0e9bdd;
  color: white;
  display: inline-block;
  padding: 3px 15px;
  margin: 5px 0;
  text-decoration: none;
}

/* line 2263, ../input-css/style.scss */
.context-menu-item.icon {
  min-height: 18px;
  background-repeat: no-repeat;
  background-position: 4px 2px;
}

/* line 2264, ../input-css/style.scss */
.context-menu-item.icon-edit {
  background-image: url(images/page_white_edit.png);
}

/* line 2265, ../input-css/style.scss */
.context-menu-item.icon-cut {
  background-image: url(images/cut.png);
}

/* line 2266, ../input-css/style.scss */
.context-menu-item.icon-copy {
  background-image: url(images/page_white_copy.png);
}

/* line 2267, ../input-css/style.scss */
.context-menu-item.icon-paste {
  background-image: url(images/page_white_paste.png);
}

/* line 2268, ../input-css/style.scss */
.context-menu-item.icon-delete {
  background-image: url(images/page_white_delete.png);
}

/* line 2269, ../input-css/style.scss */
.context-menu-item.icon-add {
  background-image: url(images/page_white_add.png);
}

/* line 2270, ../input-css/style.scss */
.context-menu-item.icon-quit {
  background-image: url(images/door.png);
}

/* vertically align inside labels */
/* line 2273, ../input-css/style.scss */
.context-menu-input > label > * {
  vertical-align: top;
}

/* position checkboxes and radios as icons */
/* line 2277, ../input-css/style.scss */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  margin-left: 20px;
  margin-top: 6px;
}

/* line 2282, ../input-css/style.scss */
.context-menu-input:first-child > label > input[type="checkbox"] {
  margin-left: 0;
}

/* line 2283, ../input-css/style.scss */
.context-menu-input > label > span {
  margin-left: 5px;
}

/* line 2290, ../input-css/style.scss */
.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2301, ../input-css/style.scss */
.context-menu-input > label > textarea {
  height: 100px;
}

/* line 2304, ../input-css/style.scss */
.context-menu-item > .context-menu-list {
  display: none;
  /* re-positioned by js */
  right: -5px;
  top: 5px;
}

/* line 2311, ../input-css/style.scss */
.context-menu-item.hover > .context-menu-list {
  display: block;
}

/* line 2315, ../input-css/style.scss */
.context-menu-accesskey {
  text-decoration: underline;
}

/* line 2322, ../input-css/style.scss */
.oom-highlights, .oom-highlights.context-menu-item.hover {
  background-color: white;
  overflow: auto;
  padding-right: 4px;
  padding-top: 3px;
  padding-left: 0;
  margin: 0 5px;
}

/* line 2331, ../input-css/style.scss */
.oom-highlights a {
  display: block;
  float: left;
  margin: 5px;
  height: 20px;
  width: 25px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
/* line 2341, ../input-css/style.scss */
.oom-highlights a span {
  bottom: 3px;
  font-size: 15px;
  position: relative;
  color: white;
}
