@import url(../output-css/reset.css);
/* line 60, ../input-css/style.scss */
html, body, .panel-container, .single-panel {
  height: 100%;
}

/* line 64, ../input-css/style.scss */
body {
  font: 100% "Source Sans Pro", sans-serif;
  color: #3a3a3a;
  background: #e9e9e9;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 73, ../input-css/style.scss */
a:link, a:visited, a:hover, a:active {
  color: #0e9bdd;
}

/* line 78, ../input-css/style.scss */
:focus {
  outline: thin dotted #165f81;
}

/* line 83, ../input-css/style.scss */
a:active {
  outline: none;
}

/* line 90, ../input-css/style.scss */
section {
  background: white;
  padding: 25px;
  margin-left: 65px;
}

/* line 96, ../input-css/style.scss */
.placeholder {
  margin: 0 auto;
  width: 85%;
}

/* line 101, ../input-css/style.scss */
.single-panel {
  width: 40%;
  padding: 60px 0 0;
  float: left;
  position: relative;
  margin-left: 1px;
}
/* line 108, ../input-css/style.scss */
.single-panel .toolbar {
  width: 40%;
}

/* line 114, ../input-css/style.scss */
.first-panel {
  margin-left: 65px;
}

/* line 121, ../input-css/style.scss */
.panel-content {
  position: relative;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

/* line 129, ../input-css/style.scss */
.button {
  border-radius: 5px;
  font-size: 18px;
  background: white;
  border: 1px solid #c2c2c2;
  padding: 8px 20px;
  text-decoration: none;
  color: #7b7b7b;
  font-weight: normal;
}
/* line 139, ../input-css/style.scss */
.button .dijitIcon {
  margin-right: 4px;
}

/* line 144, ../input-css/style.scss */
.button.primary {
  background: #0e9bdd;
  color: white;
  border: none;
}

/* line 150, ../input-css/style.scss */
.button:hover, .button:active {
  background: #e8e8e8;
  color: #3a3a3a;
}

/* line 155, ../input-css/style.scss */
.button.primary:hover, .button.primary:active {
  background: #2292c7;
  color: white;
  border: none;
}

/* line 161, ../input-css/style.scss */
.button:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
}

/* line 165, ../input-css/style.scss */
h1 {
  color: #4f5152;
  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
  margin: 0 0 15px;
}

/* line 173, ../input-css/style.scss */
h2 {
  color: #5e5e5e;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 30px;
}

/* line 181, ../input-css/style.scss */
h3 {
  color: #414344;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin: 0 0 15px;
}

/* line 189, ../input-css/style.scss */
h4, h5, h6 {
  color: #5d5d5d;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

/* line 197, ../input-css/style.scss */
p, li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}

/* line 205, ../input-css/style.scss */
form {
  position: relative;
}
/* line 208, ../input-css/style.scss */
form p {
  overflow: auto;
}
/* line 212, ../input-css/style.scss */
form label {
  float: left;
  margin-right: 10px;
  color: #5e5e5e;
  font-weight: normal;
  font-size: 16px;
  margin-top: 3px;
  width: 120px;
}
/* line 222, ../input-css/style.scss */
form input[type="text"], form textarea, form select {
  border-radius: 5px;
  font: 100% "Source Sans Pro", sans-serif;
  color: #3a3a3a;
  font-size: 15px;
  padding: 8px;
  border: 1px solid #c2c2c2;
  width: 53%;
}
/* line 232, ../input-css/style.scss */
form select {
  padding: 0;
}
/* line 236, ../input-css/style.scss */
form input:focus, form textarea:focus {
  background: #fffcf4;
}
/* line 240, ../input-css/style.scss */
form .dijitIcon {
  font-size: 18px;
  margin-left: 8px;
  color: #97d659;
}
/* line 246, ../input-css/style.scss */
form .error-label, form input[type="checkbox"] + label, form input[type="radio"] + label {
  float: none;
  margin: 0 0 0 130px;
  display: block;
  width: auto;
  font-weight: bold;
  font-size: 15px;
}
/* line 256, ../input-css/style.scss */
form .error input, form .error .dijitIcon, form .error .error-label {
  color: #d93d33;
}
/* line 260, ../input-css/style.scss */
form .error input {
  border: 2px solid #d93d33;
}
/* line 265, ../input-css/style.scss */
form input[type="checkbox"], form input[type="radio"] {
  margin-left: 130px;
  display: inline;
}
/* line 269, ../input-css/style.scss */
form input[type="checkbox"] + label, form input[type="radio"] + label {
  width: auto;
  display: inline-block;
  margin-left: 2px;
  font-weight: normal;
  font-size: 16px;
}
/* line 277, ../input-css/style.scss */
form input[type="checkbox"] + label + .dijitIcon, form input[type="radio"] + label + .dijitIcon {
  position: absolute;
  left: 486px;
}
/* line 282, ../input-css/style.scss */
form .button {
  margin-left: 130px;
}
/* line 285, ../input-css/style.scss */
form .button .dijitIcon {
  color: white;
  margin-left: 0;
}

/* line 294, ../input-css/style.scss */
aside.dark-box, aside.callout-box {
  background-color: #f4f4f4;
  padding: 16px 20px 18px;
  margin-bottom: 20px;
}
/* line 299, ../input-css/style.scss */
aside.dark-box h1, aside.dark-box h2, aside.dark-box h3, aside.dark-box h4, aside.dark-box p, aside.dark-box ul, aside.dark-box ol, aside.callout-box h1, aside.callout-box h2, aside.callout-box h3, aside.callout-box h4, aside.callout-box p, aside.callout-box ul, aside.callout-box ol {
  margin-top: 0;
}
/* line 301, ../input-css/style.scss */
aside.dark-box .dijitIcon, aside.callout-box .dijitIcon {
  float: left;
  font-size: 48px;
  color: #7b7b7b;
  margin: 0 30px 30px 0;
}
/* line 308, ../input-css/style.scss */
aside.dark-box h4, aside.callout-box h4 {
  color: #737373;
  font-weight: normal;
  font-size: 16px;
}
/* line 314, ../input-css/style.scss */
aside.dark-box p, aside.callout-box p {
  margin-bottom: 15px;
}
/* line 318, ../input-css/style.scss */
aside.dark-box .button, aside.callout-box .button {
  color: white;
  background: #97d659;
  float: right;
  margin: 0 0 30px 30px;
  border: none;
}

/* line 328, ../input-css/style.scss */
aside.callout-box {
  background-color: white;
  border: 1px solid #c2c2c2;
}

/* line 334, ../input-css/style.scss */
aside.callout-box.success {
  background-color: #d8f7b9;
  border: none;
  color: white;
}
/* line 339, ../input-css/style.scss */
aside.callout-box.success .dijitIcon {
  color: #97d659;
}
/* line 343, ../input-css/style.scss */
aside.callout-box.success p {
  color: #3a3a3a;
}
/* line 347, ../input-css/style.scss */
aside.callout-box.success .button {
  color: #3a3a3a;
}

/* line 352, ../input-css/style.scss */
aside.callout-box.warning {
  background-color: #fae3d3;
  border: none;
  color: white;
}
/* line 357, ../input-css/style.scss */
aside.callout-box.warning .dijitIcon {
  color: #c75302;
}
/* line 361, ../input-css/style.scss */
aside.callout-box.warning p {
  color: #3a3a3a;
}
/* line 365, ../input-css/style.scss */
aside.callout-box.warning .button {
  background: #c75302;
}

/* line 373, ../input-css/style.scss */
.teal {
  background-color: #56d4c7;
}

/* line 377, ../input-css/style.scss */
.blue {
  background-color: #77cbeb;
}

/* line 381, ../input-css/style.scss */
.green {
  background-color: #97d659;
}

/* line 385, ../input-css/style.scss */
.yellow {
  background-color: #ead232;
}

/* line 389, ../input-css/style.scss */
.dark-blue {
  background-color: #2481b6;
}

/* line 393, ../input-css/style.scss */
.purple {
  background-color: #a0c6ff;
}

/* line 397, ../input-css/style.scss */
.orange {
  background-color: #f18d5d;
}

/* line 401, ../input-css/style.scss */
.dark-purple {
  background-color: #a069df;
}

/* line 408, ../input-css/style.scss */
.primary-nav {
  background: #e8e8e8;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: 50;
  left: 0;
  height: 100%;
  width: 60px;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid #c2c2c2;
}
/* line 422, ../input-css/style.scss */
.primary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 427, ../input-css/style.scss */
.primary-nav ul li {
  margin: 0;
}
/* line 430, ../input-css/style.scss */
.primary-nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 24px;
  display: block;
  text-align: center;
  padding: 16px 10px;
}
/* line 441, ../input-css/style.scss */
.primary-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 450, ../input-css/style.scss */
.primary-nav ul label {
  background: none repeat scroll 0 0 #0e9bdd;
  border-radius: 5px;
  color: white;
  display: none;
  font-size: 15px;
  z-index: 500;
  left: 72px;
  margin-top: -51px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 466, ../input-css/style.scss */
.primary-nav ul li:hover a {
  background: #0e9bdd;
  color: white;
}
/* line 472, ../input-css/style.scss */
.primary-nav ul li:active + a, .primary-nav ul li.active:active + a {
  background: #2292c7;
}
/* line 477, ../input-css/style.scss */
.primary-nav ul li.active a {
  background: white;
  color: #0e9bdd;
}
/* line 485, ../input-css/style.scss */
.primary-nav ul li.disabled a, .primary-nav ul li.disabled:hover a, .primary-nav ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: #e8e8e8;
}

/* line 497, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav {
  background: #0e9bdd;
  display: none;
  height: 100%;
  left: 59px;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 450;
  padding: 15px;
}
/* line 508, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav h3 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
}
/* line 514, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li, .primary-nav ul li div.flyout-nav li:active, .primary-nav ul li div.flyout-nav li.active, .primary-nav ul li div.flyout-nav li.active:active, .primary-nav ul li div.flyout-nav li.active:hover {
  margin-bottom: 0px;
  position: relative;
}
/* line 518, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li a, .primary-nav ul li div.flyout-nav li:active a, .primary-nav ul li div.flyout-nav li.active a, .primary-nav ul li div.flyout-nav li.active:active a, .primary-nav ul li div.flyout-nav li.active:hover a {
  text-align: left;
  padding: 5px 15px;
  margin: 0 -15px;
  font-size: 16px;
  background: #0e9bdd;
  color: white;
}
/* line 527, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li em, .primary-nav ul li div.flyout-nav li:active em, .primary-nav ul li div.flyout-nav li.active em, .primary-nav ul li div.flyout-nav li.active:active em, .primary-nav ul li div.flyout-nav li.active:hover em {
  display: block;
  left: auto;
  color: white;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 5px;
}
/* line 541, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li:hover a {
  background: #2292c7;
}
/* line 549, ../input-css/style.scss */
.primary-nav ul li div.flyout-nav li.disabled a, .primary-nav ul li div.flyout-nav li.disabled:hover a, .primary-nav ul li div.flyout-nav li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: #e8e8e8;
}

/* line 558, ../input-css/style.scss */
.primary-nav ul li:hover .flyout-nav {
  display: block;
}

/* line 565, ../input-css/style.scss */
.helper-nav {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  border-right: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  z-index: 25;
}
/* line 577, ../input-css/style.scss */
.helper-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 582, ../input-css/style.scss */
.helper-nav ul li {
  margin: 0;
}
/* line 585, ../input-css/style.scss */
.helper-nav ul li a {
  text-decoration: none;
  background: white;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 24px;
  display: block;
  text-align: center;
  padding: 16px 10px;
  width: 60px;
}
/* line 598, ../input-css/style.scss */
.helper-nav ul li:first-child a {
  padding-top: 18px;
}
/* line 602, ../input-css/style.scss */
.helper-nav ul li:last-child a {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 18px;
}
/* line 609, ../input-css/style.scss */
.helper-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 618, ../input-css/style.scss */
.helper-nav ul label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 15px;
  line-height: 19px;
  z-index: 150;
  right: 75px;
  margin-top: -46px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 635, ../input-css/style.scss */
.helper-nav ul li:hover label {
  display: none;
}
/* line 639, ../input-css/style.scss */
.helper-nav ul li:hover a {
  background: #f4f4f4;
}
/* line 646, ../input-css/style.scss */
.helper-nav ul li:active a, .helper-nav ul li.active a {
  background: #0e9bdd;
  color: white;
}
/* line 654, ../input-css/style.scss */
.helper-nav ul li.disabled a, .helper-nav ul li.disabled:hover a, .helper-nav ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  background: white;
}

/* line 667, ../input-css/style.scss */
.swimlane-nav {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  top: 10px;
  margin-left: 10px;
  position: fixed;
  width: 40px;
  right: 85px;
  z-index: 25;
}
/* line 678, ../input-css/style.scss */
.swimlane-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 683, ../input-css/style.scss */
.swimlane-nav ul li {
  margin: 0 0 5px;
}
/* line 686, ../input-css/style.scss */
.swimlane-nav ul li a {
  border-radius: 5px;
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 7px 5px 5px;
  width: 40px;
  border: 1px solid #e9e9e9;
}
/* line 700, ../input-css/style.scss */
.swimlane-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 709, ../input-css/style.scss */
.swimlane-nav ul label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 14px;
  line-height: 16px;
  right: 50px;
  margin-top: -33px;
  padding: 4px 8px;
  position: absolute;
  width: auto;
  z-index: 100;
}
/* line 726, ../input-css/style.scss */
.swimlane-nav ul li:hover label {
  display: inline-block;
}
/* line 730, ../input-css/style.scss */
.swimlane-nav ul li:hover a {
  background: #f4f4f4;
}
/* line 736, ../input-css/style.scss */
.swimlane-nav ul li:active a, .swimlane-nav ul li.active a, .swimlane-nav ul li.active:hover a {
  background: white;
  color: #0e9bdd;
}
/* line 744, ../input-css/style.scss */
.swimlane-nav ul li.disabled a, .swimlane-nav ul li.disabled:hover a, .swimlane-nav ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  border: none;
  background: #e9e9e9;
}

/* line 756, ../input-css/style.scss */
.toolbar {
  border-bottom: 1px solid #e0e0e0;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
}
/* line 765, ../input-css/style.scss */
.toolbar h1 {
  float: left;
  padding: 10px 10px 10px 25px;
  margin: 0;
}
/* line 771, ../input-css/style.scss */
.toolbar ul {
  float: right;
  list-style: none outside none;
  margin: 12px 25px 0 0;
  padding: 0;
  right: 125px;
  border-radius: 5px;
  background: #e9e9e9;
  border: 1px solid #e0e0e0;
}
/* line 781, ../input-css/style.scss */
.toolbar ul li {
  margin: 0;
  float: left;
  border: 0;
  padding: 0;
  position: relative;
  margin-left: 1px;
}
/* line 789, ../input-css/style.scss */
.toolbar ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #7b7b7b;
  background: #f4f4f4;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 37px;
  padding: 6px 4px 4px;
}
/* line 801, ../input-css/style.scss */
.toolbar ul li label {
  background: none repeat scroll 0 0 #fff7c0;
  border-radius: 5px;
  color: #3a3a3a;
  display: none;
  font-size: 15px;
  left: -32%;
  line-height: 19px;
  margin: 0 auto;
  padding: 5px 9px;
  position: absolute;
  text-align: center;
  top: 44px;
  z-index: 100;
}
/* line 818, ../input-css/style.scss */
.toolbar ul li:first-child {
  margin-left: 0;
}
/* line 821, ../input-css/style.scss */
.toolbar ul li:first-child a {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
/* line 832, ../input-css/style.scss */
.toolbar ul li:last-child a {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
/* line 843, ../input-css/style.scss */
.toolbar ul li:hover label {
  display: block;
}
/* line 847, ../input-css/style.scss */
.toolbar ul li:hover a {
  background: white;
}
/* line 854, ../input-css/style.scss */
.toolbar ul li:active a, .toolbar ul li.active a, .toolbar ul li.active:hover a {
  background: white;
  border-color: #0e9bdd;
  color: #0e9bdd;
}
/* line 865, ../input-css/style.scss */
.toolbar ul li.disabled a, .toolbar ul li.disabled:hover a, .toolbar ul li.disabled:active a {
  color: #b0b0b0;
  cursor: not-allowed;
  border: none;
}
/* line 873, ../input-css/style.scss */
.toolbar ul li.text-button a {
  font-size: 16px;
  padding: 6px 8px 4px;
  width: auto;
}
/* line 881, ../input-css/style.scss */
.toolbar h4.toolbar-main-button {
  float: right;
  margin-top: 16px;
  margin-right: 25px;
}
/* line 886, ../input-css/style.scss */
.toolbar h4.toolbar-main-button .button {
  padding: 8px 35px;
}
/* line 890, ../input-css/style.scss */
.toolbar h4.toolbar-main-button .dijitIcon {
  margin-right: 0;
}
/* line 895, ../input-css/style.scss */
.toolbar h4.toolbar-main-button + ul, .toolbar form + ul {
  margin-right: 10px;
}
/* line 899, ../input-css/style.scss */
.toolbar form input[type="text"] {
  float: right;
  width: 175px;
  margin: 12px 25px 0 0;
}

/* line 908, ../input-css/style.scss */
.dialog {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 250;
  margin: 0;
  padding: 0;
}
/* line 918, ../input-css/style.scss */
.dialog .inside-dialog {
  width: 80%;
  border: 3px solid #e0e0e0;
  max-height: 500px;
  overflow: auto;
  max-width: 1200px;
  margin: 5% auto 0;
  border-radius: 5px;
  padding: 35px;
  background: white;
}

/* line 934, ../input-css/style.scss */
.highlights-content, .annotations-content {
  padding: 10px 5px 0;
  float: left;
  height: 2200px;
  width: 100px;
  background: #f4f4f4;
}
/* line 941, ../input-css/style.scss */
.highlights-content h5, .annotations-content h5 {
  margin: 0 0 12px;
  text-align: center;
  font-size: 16px;
}
/* line 946, ../input-css/style.scss */
.highlights-content h5 a, .annotations-content h5 a {
  color: #5d5d5d;
}

/* line 954, ../input-css/style.scss */
.highlights-content ul {
  margin: 0;
  padding: 0;
}
/* line 956, ../input-css/style.scss */
.highlights-content li {
  float: left;
  margin: 0 6px 0 0;
  border-radius: 5px;
}
/* line 962, ../input-css/style.scss */
.highlights-content li:last-child {
  margin-right: 0;
}
/* line 964, ../input-css/style.scss */
.highlights-content a, .highlights-content .highlight {
  color: white;
  width: 25px;
  height: 20px;
  display: block;
  border-radius: 5px;
  text-align: center;
}
/* line 972, ../input-css/style.scss */
.highlights-content a span, .highlights-content .highlight span {
  font-size: 15px;
  position: relative;
  bottom: 3px;
}
/* line 979, ../input-css/style.scss */
.highlights-content .highlight {
  position: absolute;
  top: 200px;
  height: 300px;
}

/* line 986, ../input-css/style.scss */
.annotations-content {
  border-left: 1px solid #e0e0e0;
}
/* line 989, ../input-css/style.scss */
.annotations-content .annotation {
  color: #7b7b7b;
}

/* line 994, ../input-css/style.scss */
.main-content {
  margin: 25px 25px 0 225px;
  padding-top: 1px;
}
/* line 998, ../input-css/style.scss */
.main-content .tpIconEllipses {
  font-size: 24px;
  color: #5d5d5d;
  position: relative;
  top: 5px;
}

/* line 1009, ../input-css/style.scss */
.prior-art {
  width: 85%;
}
/* line 1012, ../input-css/style.scss */
.prior-art .toolbar {
  width: 85%;
}
/* line 1016, ../input-css/style.scss */
.prior-art .main-content {
  margin-left: 25px;
  width: 68%;
  float: left;
  padding-top: 25px;
}
/* line 1022, ../input-css/style.scss */
.prior-art .main-content img {
  float: left;
  width: 225px;
  margin: 0 25px 25px 0;
  border: 1px solid #e9e9e9;
}
/* line 1029, ../input-css/style.scss */
.prior-art .main-content .pa-snippet {
  margin-bottom: 25px;
  overflow: auto;
}
/* line 1033, ../input-css/style.scss */
.prior-art .main-content .pa-snippet .tpIconSuccessCircle {
  color: #97d659;
}
/* line 1039, ../input-css/style.scss */
.prior-art .main-content h4 {
  font-size: 16px;
  font-weight: normal;
}
/* line 1044, ../input-css/style.scss */
.prior-art .main-content p {
  margin-top: 5px;
}
/* line 1049, ../input-css/style.scss */
.prior-art h2 {
  padding: 0;
  margin: 0 0 12px;
}
/* line 1053, ../input-css/style.scss */
.prior-art h2 .dijitIcon {
  color: #97d659;
}
/* line 1058, ../input-css/style.scss */
.prior-art .highlights-content {
  float: left;
  width: 8%;
}
/* line 1064, ../input-css/style.scss */
.prior-art .annotations-content {
  float: left;
  width: 18%;
}
/* line 1068, ../input-css/style.scss */
.prior-art .annotations-content .random-icon {
  padding: 0 10px 10px;
}
/* line 1071, ../input-css/style.scss */
.prior-art .annotations-content .random-icon p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}

/* line 1088, ../input-css/style.scss */
.work-manager .intray-nav {
  background: white;
  margin: 0 0 0 65px;
  padding: 0;
  top: 0;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  width: 225px;
  border-top: 0;
  border-bottom: 0;
}
/* line 1101, ../input-css/style.scss */
.work-manager .intray-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1106, ../input-css/style.scss */
.work-manager .intray-nav ul li {
  margin: 0;
}
/* line 1109, ../input-css/style.scss */
.work-manager .intray-nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #3a3a3a;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
  display: block;
  text-align: left;
  padding: 8px 14px;
  position: relative;
}
/* line 1120, ../input-css/style.scss */
.work-manager .intray-nav ul li a em {
  font-style: normal;
  display: inline-block;
  background: #97d659;
  padding: 0px 10px;
  margin-left: 6px;
  border-radius: 20px;
}
/* line 1129, ../input-css/style.scss */
.work-manager .intray-nav ul li a strong {
  font-weight: normal;
  position: absolute;
  text-align: right;
  right: 10px;
}
/* line 1137, ../input-css/style.scss */
.work-manager .intray-nav ul li a span {
  display: block;
  float: left;
  height: 26px;
  margin-right: 9px;
  width: 9px;
}
/* line 1148, ../input-css/style.scss */
.work-manager .intray-nav ul li.empty-row a, .work-manager .intray-nav ul li.empty-row:hover a, .work-manager .intray-nav ul li.empty-row:active a {
  background: white;
  cursor: default;
  height: 40px;
}
/* line 1156, ../input-css/style.scss */
.work-manager .intray-nav ul li.nav-label {
  background: #c2c2c2;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  color: #5d5d5d;
}
/* line 1165, ../input-css/style.scss */
.work-manager .intray-nav ul label {
  background: none repeat scroll 0 0 #0e9bdd;
  border-radius: 5px;
  color: white;
  display: none;
  font-size: 15px;
  z-index: 100;
  left: 72px;
  margin-top: -51px;
  padding: 5px 9px;
  position: absolute;
  width: auto;
}
/* line 1181, ../input-css/style.scss */
.work-manager .intray-nav ul li:hover label {
  display: block;
}
/* line 1185, ../input-css/style.scss */
.work-manager .intray-nav ul li:hover a {
  background: #f4f4f4;
}
/* line 1192, ../input-css/style.scss */
.work-manager .intray-nav ul li:active a {
  background: #f4f4f4;
}
/* line 1198, ../input-css/style.scss */
.work-manager .intray-nav ul li.active a {
  font-weight: bold;
}
/* line 1201, ../input-css/style.scss */
.work-manager .intray-nav ul li.active a em {
  font-weight: normal;
}
/* line 1209, ../input-css/style.scss */
.work-manager .first-panel {
  margin-left: 290px;
}
/* line 1213, ../input-css/style.scss */
.work-manager .first-panel, .work-manager .second-panel, .work-manager .toolbar {
  width: 35%;
}
/* line 1216, ../input-css/style.scss */
.work-manager .browse-items {
  background: #f4f4f4;
  padding: 25px;
}
/* line 1220, ../input-css/style.scss */
.work-manager .browse-items .workspace-item {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 20px;
  background: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
/* line 1230, ../input-css/style.scss */
.work-manager .browse-items .workspace-item .highlight {
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
}
/* line 1239, ../input-css/style.scss */
.work-manager .browse-items .workspace-item img {
  float: right;
  width: 25%;
}
/* line 1244, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul {
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 1250, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li {
  float: left;
  margin: 0 0 0 5px;
  height: 30px;
}
/* line 1255, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li a {
  border-radius: 20px;
  padding: 3px 8px;
  color: #3a3a3a;
  font-size: 16px;
}
/* line 1263, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li:first-child {
  margin-left: 0;
}
/* line 1267, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.rating a {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #e0e0e0;
}
/* line 1273, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.limit {
  margin-left: 0;
  margin-right: 10px;
}
/* line 1277, ../input-css/style.scss */
.work-manager .browse-items .workspace-item ul li.limit a {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #97d659;
}
/* line 1286, ../input-css/style.scss */
.work-manager .browse-items .workspace-item.active {
  border-color: #0e9bdd;
  background: #daf0fa;
}
/* line 1294, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar {
  height: 207px;
}
/* line 1297, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar h3 {
  padding: 10px 10px 10px 25px;
  clear: both;
}
/* line 1302, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar ul.tabs {
  float: left;
  left: 25px;
  bottom: 0;
  position: absolute;
  right: auto;
  background: white;
  border-radius: none;
  border: none;
}
/* line 1312, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar ul.tabs li {
  margin-left: 5px;
}
/* line 1315, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar ul.tabs li a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  width: auto;
  font-size: 18px;
  padding: 6px 10px;
}
/* line 1329, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar ul.tabs li.active a {
  height: 39px;
  padding-bottom: 7px;
  position: relative;
  top: 1px;
}
/* line 1337, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar ul.tabs li:first-child {
  margin-left: 0;
}
/* line 1342, ../input-css/style.scss */
.work-manager .workspace-preview .toolbar h4.toolbar-main-button {
  margin: 0;
  position: absolute;
  right: 25px;
  bottom: 15px;
}
/* line 1350, ../input-css/style.scss */
.work-manager .workspace-preview .main-content {
  margin: 25px;
}
/* line 1354, ../input-css/style.scss */
.work-manager .workspace-preview .panel-content {
  position: relative;
  top: 145px;
}
